.header {
  position: absolute;
  width: 100%;
}

.header_logo {
  position: absolute;
  height: 100%;
  z-index: 100000;
}

.header_logo img {
  width: 93%;
}

.header-1 {
  display: flex;
}

.nav {
  width: 100%;
  height: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  position: relative;
  z-index: 50;
}

.higher {
  display: flex;
  box-sizing: border-box;
  padding-left: 251px;
  align-items: center;
}

.higher a {
  text-decoration: none;
  padding: 0 15px;
  padding-bottom: 2px;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.higher a:hover {
  color: orangered;
}

.higher_box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-icons {
  margin: 0 5px 0 0;
}

.svg-inline--fa {
  color: white;
}

.higher_box a {
  text-decoration: none;
  padding: 5px;
  color: white;
  font-size: 15px;
}
.higher_box a:hover {
  color: orangered;
}

.higher_box svg {
  margin-bottom: -3px;
}

#navbar11 {
  width: 100%;
  height: 55px;
  background: #182752;
  font-weight: 600;
  padding: 0 1rem;
  display: flex;
  position: absolute;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 2px;
}

#left-sidebar-btn {
  display: none;
}

.sticky-navbar {
  margin-left: 195px;
  display: block;
  height: 100%;
}

.header-nav {
  display: flex;
  list-style: none;
  height: 100%;
}

.header-nav li {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-nav li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  padding: 13px 15px;
}

.header-nav li a:hover {
  color: #ec522c;
}

.sticky-navbar-active {
  border-bottom: 0.3rem solid #ec522c;
  color: #ec522c !important;
}

#left-sidebar-close {
  display: none;
}

/* scroll animation */

.sticky-nav {
  position: fixed !important;
  top: 0;
  z-index: 10000;
  margin: 0 !important;
}

.sticky-nav .sticky-navbar {
  margin-left: 0;
}

.sticky-nav .header-nav {
  margin: 0;
  padding: 0;
}

/* search section */

.search-section {
  display: flex;
}

.search-box {
  display: flex;
  align-items: center;
}

.input-search {
  border: none;
  background: none;
  color: white;
  outline: 0 !important;
  padding: 0 10px 2px 10px;
  border-bottom: 2px solid #ffc107;
  margin-right: 3px;
  display: none;
}

.input-search::placeholder {
  font-size: 15px;
}

.bi-search {
  color: white;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 5px;
}

.search-input-none {
  display: block;
}

.search-input-border {
  border-color: #28a745;
}

.navbar-button {
  display: flex;
  align-items: center;
  height: 100%;
}

.button1 {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  background-image: linear-gradient(
    to right,
    rgb(249, 59, 12),
    rgb(187, 42, 2)
  );
  animation: buttonpuls 0.4s 1 alternate;
  animation-play-state: paused;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.button1 a {
  text-decoration: none;
  color: #fff;
}
.button1:not(:hover) {
  animation: buttonhover 0.4s 1 ease;
}

.button1:hover {
  box-shadow: 0px 0px 3.8px -2px yellow;
  animation-play-state: running;
}

@keyframes buttonpuls {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
}
@keyframes buttonhover {
  0% {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
}

.sticky {
  padding-left: 20px;
  top: 0;
}

/*--------------footer-----------------*/

.footer {
  background: #1b1b1b;
  font-family: "Arial";

  background: #1b1b1b;
  margin-top: 200vh; /* delete this */
}

.row {
  padding: 2rem 4rem 0 4rem;
  margin: 0;
}

.footer-h1 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 25px;
}

.footer-text {
  font-size: 13px;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.4);
}

.footer-input {
  background: #fff;
  padding: 1.2rem 4rem;
  width: 100%;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.footer-submit {
  position: absolute;
  padding: 15px 2rem;
  background: #01f;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  right: 3%;
  top: 15%;
  outline: none;
}

.footerh2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: capitalize;
  font-size: 20px;
}
.footer-p {
  margin-top: 1rem;
  color: hsla(0, 0%, 100%, 0.4);
  font-weight: 700;
  display: inline-block;
  font-size: 14px;
}
.footer-icons {
  padding: 15px;
}

.footer-primary-icons a {
  margin-right: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links2,
.footer-links3 {
  color: hsla(0, 0%, 100%, 0.4);
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}

.footer-links3 {
  margin-top: 17px;
  padding-bottom: 5px;
}

.footer-links3 svg {
  margin-right: 12px;
  font-size: 20px;
  margin-bottom: -5px;
}

.footer-links3 i {
  margin-right: 12px;
  font-size: 18px;
  margin-bottom: -6px;
}

.footer-links2:hover {
  color: white;
}

/* Queries */

@media (max-width: 1171px) {
  .footer-submit {
    top: 11.5%;
    right: 3.5%;
  }
}

@media (max-width: 1050px) and (min-width: 992px) {
  .header_logo img {
    display: none;
  }

  .higher {
    padding-left: 16px;
  }

  .sticky-navbar {
    margin-left: 0 !important;
  }

  .header-nav {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .higher {
    padding-left: 16px;
  }

  .higher a {
    font-size: 13px;
  }

  .header_logo img {
    display: none;
  }

  .higher_box a {
    font-size: 14px;
  }

  #navbar11 {
    z-index: 10000 !important;
    display: flex;
    justify-content: space-between;
  }

  .sticky-navbar {
    position: fixed !important;
    margin-left: 0;
    width: 250px;
    height: 100% !important;
    left: 0;
    top: 0;
    padding-top: 50px;
    background: #182752;
    z-index: 100000 !important;
    margin-left: -400px !important;
    transition: 0.6s ease-in-out;
  }

  .sticky-navbar-JS {
    margin-left: 0 !important;
  }

  .header-nav {
    display: table !important;
    padding-left: 0;
    margin-left: 0;
  }

  .header-nav li {
    display: block;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .header-nav li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    display: block;
    width: 250px;
    padding: 15px 10px;
  }

  #left-sidebar-btn {
    display: block !important;
    color: #ec522c;
    font-size: 24px;
    margin-left: 25px;
    cursor: pointer;
  }

  #left-sidebar-close {
    display: unset;
    position: absolute;
    right: 5%;
    top: 0;
    background: #182752;
    color: white;
    font-size: 22px;
    padding: 0 !important;
    cursor: pointer;
  }

  .button1 {
    font-size: 12px;
    margin-right: 20px;
  }

  .input-search {
    width: 170px;
  }

  .input-search::placeholder {
    font-size: 14px;
  }

  .footer-submit {
    top: 11.5%;
    right: 3.5%;
  }
}

@media (max-width: 948px) and (min-width: 768px) {
  .footer-input {
    padding: 1.2rem 2rem;
  }

  .footer-submit {
    top: 10.5%;
    right: 5%;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 1rem;
  }

  .footer .row {
    padding: 1rem;
  }

  .footer-input {
    margin-top: -10px;
  }

  .footer-submit {
    top: -15%;
    right: 3%;
  }

  .footer .col-md-7,
  .footer .col-md-5 {
    margin-bottom: 0 !important;
  }

  .footer_con {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .higher {
    padding-left: 10px;
  }

  .higher a {
    font-size: 11px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .higher_box a {
    font-size: 13px;
  }

  .higher_box span {
    margin-right: 2px !important;
    padding-right: 2px !important;
    font-size: 10px;
  }

  .higher_box svg {
    margin-bottom: -2px;
  }

  .footer-submit {
    display: block;
    width: calc(100% - 32px);
    left: 16px;
    top: 150%;
  }

  .footer_con_one {
    margin-top: 100px;
  }

  .column_one {
    margin-bottom: 5px !important;
  }

  .col-md-3 {
    margin-top: 0 !important;
  }
}

@media (max-width: 475px) {
  .higher_box span {
    display: none;
  }

  #navbar11 {
    padding: 0;
  }

  #left-sidebar-btn {
    margin-left: 10px;
  }

  .button1 {
    margin-right: 5px;
    font-size: 10px;
  }

  .input-search {
    width: 100px;
  }
}
