<div class="header">
  <div class="header_logo">
    <img src="./assets/img/Group%2065.svg" />
  </div>
</div>
<div class="nav">
  <div class="higher">
    <a href="#" class="border-right border-white"><b>О нас</b> </a>
    <a href="#"><b>вапросы-Ответы</b></a>
  </div>
  <div class="higher_box">
    <a href="#">
      <svg
        width="1em"
        height="1em"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="map-marker-alt"
        class="svg-inline--fa fa-map-marker-alt fa-w-12 header-icons"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
      >
        <path
          fill="currentColor"
          d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
        </path></svg>
      <span style="padding-right: 20px">Юнусабад 6 </span>
    </a>

    <a href="#"
      ><svg
        width="1em"
        height="1em"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="envelope"
        class="svg-inline--fa fa-envelope fa-w-16 header-icons"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
        ></path>
      </svg>
      <span style="margin-right: 15px">info@umdsoft.uz</span></a
    >
    <a href="#"><i class="fab fa-twitter svg-inline--fa"></i></a>
    <a href="#"><i class="fab fa-telegram-plane svg-inline--fa"></i></a>
    <a href="#"><i class="fab fa-instagram svg-inline--fa"></i></a>
  </div>
</div>
<div id="navbar11">
  <i class="fas fa-bars" id="left-sidebar-btn"> </i>
  <div class="sticky-navbar">
    <ul class="header-nav">
      <span id="left-sidebar-close"> x</span>
      <li><a href="#" class="sticky-navbar-active">Главная</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Наши работы</a></li>
      <li><a href="#">Цены</a></li>
      <li><a href="#">Блог</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
  <div class="search-section">
    <div class="search-box">
      <input type="text" class="input-search" placeholder="Search" />

      <a href="#" id="search-bar-btn" >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-search"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
          />
          <path
            fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
          />
        </svg>
      </a>
    </div>

    <div class="navbar-button">
      <a href="#" type="button" class="button1">РАСЧЕТ СТАИМОСТИ</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="row">
    <div class="col-md-5 col-sm-12 my-3">
      <h1 class="footer-h1">Подпишитесь на нашу рассылку</h1>
      <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos eligendi
        illum saepe. Labore.
      </p>
    </div>
    <div class="col-md-7 col-sm-12 my-3">
      <form class="footer-form">
        <input
          type="email"
          placeholder="Enter you email"
          class="footer-input" />
        <button type="submit" class="footer-submit">Subscribe now </button>
      </form>
    </div>
  </div>
  <div class="row pt-0 pb-4" >
    <div class="col-md-3 col-sm-6 my-4 column_one">
      <div class="footer_con  footer_con_one">
        <h2 class="footerh2">About us</h2>
        <p class="footer-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos,
          necessitatibus, velit!
        </p>
        <div class="footer-primary-icons">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              viewBox="0 0 35 35"
            >
              <g id="Instagram" transform="translate(0.076)">
                <circle
                  id="Ellipse_49"
                  data-name="Ellipse 49"
                  cx="17.5"
                  cy="17.5"
                  r="17.5"
                  transform="translate(-0.076)"
                  fill="#01f"
                />
                <path
                  id="Icon_awesome-instagram"
                  data-name="Icon awesome-instagram"
                  d="M7.614,5.685A3.769,3.769,0,0,0,3.709,9.314a3.769,3.769,0,0,0,3.905,3.628A3.769,3.769,0,0,0,11.52,9.314,3.769,3.769,0,0,0,7.614,5.685Zm0,5.987A2.458,2.458,0,0,1,5.075,9.314,2.456,2.456,0,0,1,7.614,6.955a2.456,2.456,0,0,1,2.539,2.359A2.458,2.458,0,0,1,7.614,11.673ZM12.59,5.537a.913.913,0,0,1-1.822,0,.913.913,0,0,1,1.822,0Zm2.587.859a4.028,4.028,0,0,0-1.23-2.965,4.736,4.736,0,0,0-3.192-1.143c-1.258-.066-5.027-.066-6.285,0a4.73,4.73,0,0,0-3.192,1.14A4.041,4.041,0,0,0,.048,6.393c-.071,1.168-.071,4.671,0,5.839A4.028,4.028,0,0,0,1.279,15.2,4.742,4.742,0,0,0,4.47,16.34c1.258.066,5.027.066,6.285,0A4.7,4.7,0,0,0,13.946,15.2a4.054,4.054,0,0,0,1.23-2.965c.071-1.168.071-4.667,0-5.836Zm-1.625,7.09A2.487,2.487,0,0,1,12.1,14.831a18.04,18.04,0,0,1-4.49.284,18.18,18.18,0,0,1-4.49-.284,2.487,2.487,0,0,1-1.448-1.345A14.518,14.518,0,0,1,1.37,9.314a14.631,14.631,0,0,1,.306-4.172A2.487,2.487,0,0,1,3.124,3.8a18.04,18.04,0,0,1,4.49-.284A18.18,18.18,0,0,1,12.1,3.8a2.487,2.487,0,0,1,1.448,1.345,14.518,14.518,0,0,1,.306,4.172A14.509,14.509,0,0,1,13.552,13.485Z"
                  transform="translate(9.692 8.276)"
                  fill="#fff"
                />
              </g>
            </svg>
          </a>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              viewBox="0 0 35 35"
            >
              <g id="Telegram" transform="translate(0.281)">
                <circle
                  id="Ellipse_50"
                  data-name="Ellipse 50"
                  cx="17.5"
                  cy="17.5"
                  r="17.5"
                  transform="translate(-0.281)"
                  fill="#01f"
                />
                <path
                  id="Icon_awesome-telegram-plane"
                  data-name="Icon awesome-telegram-plane"
                  d="M17.738,5.79,15.054,17.551c-.2.83-.731,1.037-1.481.646l-4.09-2.8L7.509,17.16a1.055,1.055,0,0,1-.822.373l.294-3.87L14.561,7.3c.33-.273-.071-.424-.512-.151L4.678,12.63.644,11.456c-.878-.255-.893-.815.183-1.206L16.606,4.6C17.337,4.347,17.976,4.753,17.738,5.79Z"
                  transform="translate(7.533 5.96)"
                  fill="#fff"
                />
              </g>
            </svg>
          </a>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              viewBox="0 0 35 35"
            >
              <g id="Facebook" transform="translate(0.41)">
                <circle
                  id="Ellipse_51"
                  data-name="Ellipse 51"
                  cx="17.5"
                  cy="17.5"
                  r="17.5"
                  transform="translate(-0.41)"
                  fill="#01f"
                />
                <path
                  id="Icon_awesome-facebook-f"
                  data-name="Icon awesome-facebook-f"
                  d="M9.233,7.961,9.656,5.4H7.011V3.737c0-.7.37-1.384,1.554-1.384h1.2V.173A15.751,15.751,0,0,0,7.633,0c-2.178,0-3.6,1.227-3.6,3.447V5.4H1.609V7.961H4.031v6.192h2.98V7.961Z"
                  transform="translate(11.306 10.513)"
                  fill="#fff"
                />
              </g>
            </svg>
          </a>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="34"
              height="35"
              viewBox="0 0 34 35"
            >
              <g id="Youtube" transform="translate(-0.385)">
                <ellipse
                  id="Ellipse_52"
                  data-name="Ellipse 52"
                  cx="17"
                  cy="17.5"
                  rx="17"
                  ry="17.5"
                  transform="translate(0.385)"
                  fill="#01f"
                />
                <path
                  id="Icon_metro-youtube"
                  data-name="Icon metro-youtube"
                  d="M6.908,1.928,5.885,3.814,4.861,1.928H3.556L5.4,4.915l.011-.006v2.3h.947v-2.3l.011.006L8.214,1.928ZM9.672,3.688a.464.464,0,0,1,.473.44V5.887a.475.475,0,0,1-.947,0V4.127a.464.464,0,0,1,.473-.44Zm0-.88a1.377,1.377,0,0,0-1.42,1.32V5.887a1.424,1.424,0,0,0,2.841,0V4.127a1.377,1.377,0,0,0-1.42-1.32Zm4.261,0V6.271c-.413.32-.947.513-.947-.627V2.808h-.947V5.823h0c.015.727.18,2.037,1.892.972v.412h.947v-4.4h-.947Zm1.42,8.8a.458.458,0,0,0-.473.44v.44h.947v-.44a.458.458,0,0,0-.473-.44Zm-4.261.44v2.309c.321.3.947.33.947-.11V12.183C12.039,11.743,11.566,11.605,11.093,12.045Zm6.551-2.123a1.813,1.813,0,0,0-.589-1.24,2.093,2.093,0,0,0-1.347-.523c-1.032-.048-3.395-.072-5.47-.072S5.632,8.11,4.6,8.158a2.093,2.093,0,0,0-1.347.523,1.813,1.813,0,0,0-.589,1.24c-.062,1.033-.093,1.407-.093,1.923s.031,1.291.093,2.323a1.814,1.814,0,0,0,.589,1.24,2.093,2.093,0,0,0,1.347.523c1.032.048,3.563.072,5.638.072s4.437-.024,5.47-.072a2.093,2.093,0,0,0,1.347-.523,1.813,1.813,0,0,0,.589-1.24q.077-1.291.077-2.323c0-.688-.026-1.063-.077-1.923Zm-12.232,5.2H4.464v-4.4H3.518v-.88H6.358v.88H5.411Zm3.787,0H8.252v-.412c-1.8.939-1.878.03-1.892-.7h0v-2.41h.947v2.424c0,.532.534.48.947.16V11.605H9.2Zm3.787-.892c0,.919-1.014,1.188-1.894.473v.42h-.947V9.846h.947v1.43c.947-.88,1.894-.55,1.894.33Zm3.787-1.747v.44H14.88v.88a.475.475,0,0,0,.947,0v-.44h.947v.44a1.424,1.424,0,0,1-2.841,0V12.045a1.424,1.424,0,0,1,2.841,0Z"
                  transform="translate(7.116 8.579)"
                  fill="#fff"
                />
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 my-4">
      <div class="footer_con">
        <h2 class="footerh2">Important links</h2>
        <div class="footer-links">
          <a href="#" class="footer-links2">About us</a>
          <a href="#" class="footer-links2">Project</a>
          <a href="#" class="footer-links2"
            >Services</a
          >
          <a href="#" class="footer-links2">Blog</a>
          <a href="#" class="footer-links2">Contact</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 my-4">
      <div>
        <h2 class="footerh2">Fetured services</h2>
        <div class="footer-links">
          <a href="#" class="footer-links2">It Managment</a>
          <a href="#" class="footer-links2"
            >Development</a
          >
          <a href="#" class="footer-links2"
            >Services</a
          >
          <a href="#" class="footer-links2"
            >UI/UX Design</a
          >
          <a href="#" class="footer-links2"
            >Support Engineer</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 my-4">
      <h2 class="footerh2">Contact</h2>
      <div class="footer-links">
        <a href="#" class="footer-links3"
          ><i
            class="fas fa-phone-alt svg-inline--fa"></i
          ><span style="display: inline-block">+998917911122</span></a>
        <a href="#" class="footer-links3">
          <svg
            width="1em"
            height="1em"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="envelope"
            class="svg-inline--fa fa-envelope fa-w-16 header-icons"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              fill="currentColor"
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
          </svg>
          <span style="display: inline-block">Info@umdsoft.Uz</span></a>
        <a href="#" class="footer-links3">
          <svg
            width="1em"
            height="1em"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="map-marker-alt"
            class="svg-inline--fa fa-map-marker-alt fa-w-12 header-icons"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512">
            <path
              fill="currentColor"
              d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
            ></path>
          </svg>
          <span style="display: inline-block"
            >Tashkent city. Yunusobod 6</span
          ></a>
      </div>
    </div>
  </div>
</div>
