*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a,
input{
  outline: none !important;
}
.node-header{
  width: 100%;
  height: 100%;
}
.header-img img{
  width: 100%;
  background-size: cover;
  margin-top: -40px;
  z-index: -11;
  top: 0;
}
.img1{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 20%;
}
.row{
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.col{
  width: 50%;
  position: relative;
  color: white;
  top: -600px;
  left: 10%;
}
.col h1{
  color: #11DD6CFF;
  font-size: 50px;
  padding-bottom: 2rem;
}
.node-button{
  text-decoration: none;
  color: white;
  padding: 5px 1rem;
  border-radius: 5px;
  background-color: orangered;
}
.node-text2 h2{
  padding: 2rem 0;
}
.node-text2 p{
  font-size: 20px;
}
.node-reg{
  width: 600px;
  height: 500px;
  margin-left: 100px;
  background-color: white;
  border-radius: 15px;
}
.node-reg1 h4{
  color: black;
  text-align: center;
  padding-top: 18px;
}
.node-reg1 p{
  color: #555555;
  font-size: 20px;
  padding: 15px 30px;
}
.node-input{
  padding: 0 30px;
}
.node-input p{
  margin-left: 55px;
  position: absolute;
  left: 15%;
  width: 20%;
  padding: 11px 15px;
  color: #555555;
  border: 1px solid;
}
.node-input span{
  color: red;
}
.node-input input{
  position: relative;
  left: 23%;
  width: 77%;
  padding: 10px 20px;
}
.node-input2{
  padding: 30px;
}
.node-input2 p{
  margin-left: 55px;
  position: absolute;
  left: 15%;
  width: 20%;
  padding: 11px 15px;
  color: #555555;
  border: 1px solid;
}
.node-input2 span{
  color: red;
}
.node-input2 input{
  position: relative;
  left: 23%;
  width: 77%;
  padding: 10px 20px;
}
.node-input3{
  padding: 0 30px;
}
.node-input3 p{
  margin-left: 55px;
  position: absolute;
  left: 15%;
  width: 20%;
  padding: 11px 15px;
  color: #555555;
  border: 1px solid;
}
.node-input3 span{
  color: red;
}
.node-input3 input{
  position: relative;
  left: 23%;
  width: 77%;
  padding: 10px 20px;
}
.node-button2{
  margin-top: 50px;
  margin-left: 45px;
}
#yubor{
  text-decoration: none;
  color: white;
  padding: 1rem 13.4rem;
  border-radius: 5px;
  font-size: 20px;
  background-color: #11DD6CFF;
}
.page{
  position: relative;
}
.bulut{
  position: absolute;
  top: 27%;
  left: 0;
}
.page-text {
  text-align: center;
  position: absolute;
  top: 18%;
  z-index: 1;
}
.page-text h1{
  padding-bottom: 2rem;
  font-size: 40px;
}
.page-text p{
  margin: 0 15rem;
  font-size: 20px;
  color: grey;
}
.page-text h5{
  color: grey;
}
.page-text h5 span{
  color: black;
}
.card-deck{
  position: absolute;
  top: 45%;
  left: 5%;
  right: 5%;
}
.card{
  width: 400px;
  height: 400px;
  border-radius: 25px;
  align-items: center;
}
.card-img-top{
  width: 50%;
  padding-top: 30px;
  justify-content: center;
}
.card-body{
  text-align: center;
  padding-top: 30px;
}
.card-text2{
  padding-top: 45px;
}
.page2{
  position: relative;

}
.image-left{
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 2;
}
.image-right{
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1;
}
.page2-page{
  position: absolute;
  top: 5%;
  left: 10%;
}
.page2-text{
  text-align: center;
}
.page2-text h1{
  padding-bottom: 2rem;
  font-size: 50px;
}
.page2-text h5{
  padding-bottom: 1rem;
}
.page2-button{
  position: relative;
}
.page2-button:before{
  display: block;
  content: '';
  width: 120%;
  margin-top: 50px;
  border-top: 5px dashed #555555;
  position: absolute;
  z-index: 2;
  left: -20%;
  top: calc(50% - 2px);
}
.page2-button ul{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #37de8b;
}
.page2-button li{
  list-style: none;
}
.page2-button a{
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  text-decoration: none;
}
.shadow{
  display: flex;
  position: relative;
  top: 100px;
  left: 0;
}
.border-left {
  background-color: #1FB31F;
  width: 10px;
  border-radius: 10px;
  height: 130px;
}
.shadow-text1{
  position: absolute;
  left: 30px;
  width: 25%;
  color: #555555;
}
.border-right{
  background-color: #1FB31F;
  width: 10px;
  border-radius: 10px;
  height: 130px;
  position: absolute;
  left: 90%;
}
.shadow-text2{
  position: absolute;
  text-align: right;
  width: 20%;
  left: 68%;
  color: #555555;
}
.ninja{
  width: 90%;
  height: 98vh;
  position: relative;
  top: 170px;
  left: 0;
  z-index: 2;
  background-color: white;
  border-radius: 30px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
              5px 5px 5px rgba(0, 0, 0, 0.1);
}
.ninja h2{
  padding: 30px;
}
.row3{
  display: flex;
  padding-left: 50px;
  box-sizing: border-box;
}
.col12{
  width: 25%;
}
.col12 p{
  color: #555555;
  padding-top: 20px;
}
.col123{
  width: 35%;
  padding-left: 130px;
}
.col123 p{
  color: #555555;
  padding-top: 20px;
}
.col124{
  width: 35%;
  padding-left: 120px;
  padding-top: 20px;

}
.col124 p{
  color: #555555;
  padding-top: 20px;
}
.row21{
  display: flex;
}
.col21{
  display: block;
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
}
.refresh{
  display: flex;
  padding-top: 30px;
}
.refresh p{
  padding-left: 20px;
}
.refresh p span{
  color: #17f587;
}
.page3{
  position: relative;

}
.rasm-right{
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1;
}
.rasm-left{
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 1;
}
.page3-2{
  position: absolute;
  top: 5%;
  left: 5%;
}
.page3-2 h1{
  text-align: center;
  padding-bottom: 30px;
}
.row32{
  display: flex;
}
.col31{
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 30px;
  margin: 30px;
  width: 20%;
  height: 200px;
  box-shadow: -3px -3px 2px rgba(255,255, 255, 0.1),
               5px 5px 5px rgba(0, 0, 0, 0.3);
}
.col31 img{
  position: relative;
  top: 30px;
  left: 110px;
}
.col31 p{
  padding-top: 30px;
  text-align: center;
}
.summa{
  display: flex;
  padding-top: 100px;
  padding-left: 50px;
}
.summa-text{
  width: 60%;
  padding-left: 100px;
  padding-top: 40px;
}
.summa-text h4{
  color: #555555;
}
.summa-text span{
  color: #17f587;
  font-size: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.zapisat-qurs{
  background-color: white;
  display: flex;
  width: 90%;
  height: 15%;
  left: 30px;
  border-radius: 30px;
  position: absolute;
  top: 110%;
  box-shadow: -3px -3px 2px rgba(255,255, 255, 0.1),
               5px 5px 5px rgba(0, 0, 0, 0.3);
}
.qurs-button{
  padding: 20px 90px;
}
.qurs-button a{
  text-decoration: none;
  background-color: #0011ff;
  color: white;
  border-radius: 15px;
  padding: 15px 50px;
  font-size: 35px;
}
.zapisat-qurs h4{
  padding-top: 40px;
}
.text-long{
  display: flex;
  position: absolute;
  box-sizing: border-box;
  top: -57%;
  left: 10%;
}
.long-text1{
  width: 45%;
}
.long-text1 h2{
  font-size: 40px;
  color: black;
}
.img-text{
  padding-top: 40px;
  display: flex;
}
.img-text h4{
  padding-left: 30px;
}
.long-text2{
  width: 650px;
  padding-left: 90px;
  box-sizing: border-box;
}
.long-text2 h2{
  font-size: 40px;
}
.border-text{
  display: flex;
}
.border-text p{
  padding-left: 30px;
  padding-top: 30px;
}
.text-button{
  position: relative;
  margin-top: 30px;
  z-index: 2;
  width: 3rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #17f587;
  color: white;
}
.border-left2{
  position: absolute;
  border-left: dashed 4px #555555;
  height: 240px;
  margin-top: -350px;
  left: 719px
}
.border-text p span{
  font-size: 20px;
  color: black;
  padding-bottom: 1rem;
}
.text-button2{
  position: relative;
  margin-top: 30px;
  z-index: 2;
  width: 4.5rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #17f587;
  color: white;
}
.text-button3{
  position: relative;
  margin-top: 30px;
  z-index: 2;
  width: 6rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #17f587;
  color: white;
}
.Todo{
  position: absolute;
  left: 10%;
  top: 10%;
}
.Todo2{
  display: flex;
}
.Todo h2{
  font-size: 40px;
  padding-bottom: 20px;
}
.todo-text1{
  width: 40%;
}
.todo-text1 p{
  padding-bottom: 50px;
}
.todo-text2{
  width: 30%;
  padding-left: 150px;
  padding-top: 30px;
}
.text2-p{
  position: relative;
  z-index: 5;
  width: 150%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
}
/*.text2-p:before{*/
/*  content: '';*/
/*  position: absolute;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  z-index: 2;*/
/*  background-color: white;*/
/*  padding-bottom: -15px;*/
/*  top: 75px;*/
/*  left: 130px;*/
/*  transform: rotate(45deg);*/
/*}*/
.todo-text2 img{
  padding-top: 20px;
}
.todo-text22{
  position: absolute;
  width: 45%;
  padding-top: 30px;
}
.uchebniy-proekt{
  position: absolute;
  left: 10%;
  top: -80%;
}
.proekt-text{
  display: flex;
}
.pro-text1{
  width: 45%;
}
.pro-text2{
  width: 40%;
  margin: 40px 80px;
}
.font-icons{
  opacity: 0.3;
  background-color: white;
  padding-left: 160px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
               3px 3px 3px rgba(0, 0, 0, 0.2);
}
.fa-image{
  width: 300px;
  justify-content: center;
  height: 250px;
  color: #535353;
}
.right-img{
  margin-top: 120px;
}
.otziv{
  position: absolute;
  top: 35%;
  left: 10%;
}
.otziv p{
  padding-top: 20px;
  width: 70%;
}
.strelka{
  display: flex;
  float: right;
  padding-top: 50px;
  padding-right: 230px;
}
.avito{
  position: relative;
  display: flex;
  background-color: white;
  width: 85%;
  top: 30px;
  height: 100%;
  border-radius: 25px;
}
.avito-text{
  width: 80%;
  padding-top: 10px;
  padding-left: 50px;
}
.avito-text2{
  width: 25%;
  position: relative;
  left: -50px;
  top: 30px;
}
.avito-text2 h4{
  padding-top: 15px;
}
.page4{
  position: relative;

}
.rasm-right2{
  position: absolute;
  top: 15%;
  right: 0;
  z-index: 1;
}
.rasm-left2{
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 1;
}
.page4-1{
  position: absolute;
  top: 0%;
  left: 10%;
}
.page4-1 h2{
  padding-bottom: 50px;
}
.node-js{
  position: relative;
  background-color: white;
  width: 88%;
  height: 100%;
  padding: 50px 80px;
  border-radius: 20px;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.3),
               5px 5px 5px rgba(0, 0, 0, 0.2);
}

.js2-text{
  width: 30%;
}
.node-js2-1{
  display: flex;
  justify-content: space-around;
}
.img-up{
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.node-js2{
  position: relative;
  top: 80px;
  background-color: white;
  width: 88%;
  height: 100%;
  padding: 30px 80px;
  border-radius: 20px;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.3),
  5px 5px 5px rgba(0, 0, 0, 0.2);
}
.up-img{
 float: right;
  transform: rotate(180deg);
  cursor: pointer;
}
#nodejs{
  margin-top: 80px;
  margin-bottom: 150px;
}
#nodejs-text{
  opacity: 0.5;
}
.all-services{
  position: absolute;
  top: 100%;
  left: 40%;
}
.all-button{
  background: linear-gradient(to right, rgb(126, 218, 122), rgb(32, 139, 25));
  outline: none;
  border: none;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 550;
  transition: 0.2s;
}
.all-button:hover{
  box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
}
.statistik{
  position: absolute;
  left: 10%;
  top: 20%;
}
.tools{
  display: flex;
  justify-content: space-around;
}
.tool-text{
  width: 30%;
}
.tool-img{
  opacity: 0.3;
  position: relative;
  left: -80px;
  top: -35px;
  border-radius: 30px;
  background-color: white;
  padding: 40px 100px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
              5px 5px 5px rgba(0, 0, 0, 0.2);
}
.schot{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sapn1{
  display: flex;
}
.sapn1 span{
  font-weight: bold;
  font-size: 60px;
  color: #17f587;
}
.sapn1 p{
  padding-top: 20px;
}

/*-------------responsiv design-------------*/
/*-------------desktop--------------*/
@media (min-width: 1200px) and (max-width: 1500px) {
  /*---------------------header start-----------------------*/
  button, a, input{ outline: none !important}
  .node-header{
    width: 100%;
    height: auto;
  }
  .header-img img{
    width: 100%;
    height: auto;
    background-size: cover;
    margin-top: -40px;
    z-index: -11;
    top: 0;
  }
  img1{
    width: 100%;
    height: auto;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 20%;
  }
  .col{
    width: 40%;
    position: relative;
    color: white;
    top: -580px;
    left: 8%;
  }
  .col h1{
    color: #11DD6CFF;
    font-size: 40px;
    padding-bottom: 1.5rem;
  }
  .node-button{
    text-decoration: none;
    color: white;
    padding: 5px 1rem;
    border-radius: 5px;
    background-color: orangered;
  }
  .node-text2 h2{
    padding: 1.8rem 0;
  }
  .node-text2 p{
    font-size: 12px;
  }
  .node-reg{
    width: 430px;
    height: 430px;
    margin-left: 50px;
    margin-right: 30px;
    background-color: white;
    border-radius: 15px;
  }
  .node-reg1 h4{
    color: black;
    text-align: center;
    padding-top: 12px;
  }
  .node-reg1 p{
    color: #555555;
    font-size: 16px;
    padding: 12px 25px;
  }
  .node-input{
    padding: 0 30px;
  }
  .node-input p{
    /*margin-left: 15px;*/
    position: absolute;
    left: 3%;
    width: 20%;
    padding: 11px 15px;
    color: #555555;
    border: 1px solid;
  }
  .node-input span{
    color: red;
  }
  .node-input input{
    position: relative;
    left: 23%;
    width: 77%;
    padding: 10px;
  }
  .node-input2{
    padding: 30px;
  }
  .node-input2 p{
    /*margin-left: 0px;*/
    position: absolute;
    left: 3%;
    width: 20%;
    padding: 11px 15px;
    color: #555555;
    border: 1px solid;
  }
  .node-input2 span{
    color: red;
  }
  .node-input2 input{
    position: relative;
    left: 23%;
    width: 77%;
    padding: 10px 20px;
  }
  .node-input3{
    padding: 0 30px;
  }
  .node-input3 p{
    /*margin-left: 50px;*/
    position: absolute;
    left: 3%;
    width: 20%;
    padding: 11px 15px;
    color: #555555;
    border: 1px solid;
  }
  .node-input3 span{
    color: red;
  }
  .node-input3 input{
    position: relative;
    left: 23%;
    width: 77%;
    padding: 10px 20px;
  }
  .node-button2{
    margin-top: 40px;
    margin-left: 25px;
  }
  #yubor{
    text-decoration: none;
    color: white;
    padding: 1rem 9rem;
    border-radius: 5px;
    font-size: 20px;
    background-color: #11DD6CFF;
  }
/*---------------------------header end--------------------------*/
  .card-deck{
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
  }
  .page2-button a{
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    text-decoration: none;
  }
  .ninja{
    width: 90%;
    height: auto;
    position: relative;
    top: 170px;
    left: 0;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .page3-2{
    position: absolute;
    top: 12%;
    left: 5%;
    right: 5%;
  }
  .col31 img{
    position: relative;
    top: 30px;
    left: 80px;
  }
  .summa{
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
  }
  .qurs-button a{
    text-decoration: none;
    background-color: #0011ff;
    color: white;
    border-radius: 15px;
    padding: 5px 50px;
    font-size: 25px ;
  }
  .text-long{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: -90%;
    left: 10%;
  }
  .border-left2{
    position: absolute;
    border-left: dashed 4px #555555;
    height: 240px;
    margin-top: -350px;
    left: 575px
  }
  .Todo{
    position: absolute;
    left: 7%;
    top: 15%;
    right: 3%;
  }
  .todo-text22{
    position: absolute;
    width: 40%;
    padding-top: 30px;
  }
  .uchebniy-proekt{
    position: absolute;
    left: 10%;
    top: -120%;
  }
  .avito-text2{
    width: 25%;
    position: relative;
    left: -80px;
    top: 30px;
  }
  .page4-1{
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .all-services{
    position: absolute;
    top: 95%;
    left: 38%;
  }
  .pol{
    height: 50px;
  }
}
/*-----------------------mini-desktop-----------------------*/
@media (min-width: 992px) and (max-width: 1200px){
  button, a, input{
    outline: none !important;
  }
  .node-header{
    width: 100%;
    height: auto;
  }
  .header-img img{
    width: 100%;
    background-size: cover;
    margin-top: -40px;
    z-index: -11;
    top: 0;
  }
  .img1{
    width: 100%;
    height: auto;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 20%;
  }
  .row{
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  .col{
    width: 42%;
    position: relative;
    color: white;
    top: -530px;
    left: 8%;
  }
  .col h1{
    color: #11DD6CFF;
    font-size: 30px;
    padding-bottom: 1rem;
  }
  .node-button{
    text-decoration: none;
    color: white;
    padding: 5px 1rem;
    border-radius: 5px;
    background-color: orangered;
  }
  .node-text2 h2{
    padding: 1rem 0;
  }
  .node-text2 p{
    font-size: 15px;
  }
  .node-reg{
    width: 350px;
    height: 380px;
    margin-left: 75px;
    background-color: white;
    border-radius: 15px;
  }
  .node-reg1 h4{
    color: black;
    text-align: center;
    padding-top: 15px;
  }
  .node-reg1 p{
    color: #555555;
    font-size: 16px;
    padding: 15px 30px;
  }
  .node-input{
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .node-input p{
    margin-left: 20px;
    position: absolute;
    left: 15%;
    width: 25%;
    padding: 8px 10px;
    color: #555555;
    border: 1px solid;
  }
  .node-input span{
    color: red;
  }
  .node-input input{
    position: relative;
    left: 30%;
    width: 60%;
    padding: 8px 20px;
  }
  .node-input2{
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .node-input2 p{
    margin-left: 20px;
    position: absolute;
    left: 15%;
    width: 25%;
    padding: 8px 10px;
    color: #555555;
    border: 1px solid;
  }
  .node-input2 span{
    color: red;
  }
  .node-input2 input{
    position: relative;
    left: 30%;
    width: 60%;
    padding: 8px 20px;
  }
  .node-input3{
    padding: 0 20px;
  }
  .node-input3 p{
    margin-left: 20px;
    position: absolute;
    left: 15%;
    width: 25%;
    padding: 8px 10px;
    color: #555555;
    border: 1px solid;
  }
  .node-input3 span{
    color: red;
  }
  .node-input3 input{
    position: relative;
    left: 30%;
    width: 60%;
    padding: 8px 20px;
  }
  .node-button2{
    margin-top: 50px;
    margin-left: 20px;
  }
  #yubor{
    text-decoration: none;
    color: white;
    padding: 0.7rem 6rem;
    border-radius: 5px;
    font-size: 20px;
    background-color: #11DD6CFF;
  }
/* ---------------------header end-------------------- */
  .page-text h1{
    padding-bottom: 2rem;
    font-size: 30px;
  }
  .page-text p{
    margin: 0 15rem;
    font-size: 15px;
    color: grey;
  }
  .card-deck{
    position: absolute;
    top: 55%;
    left: 5%;
    right: 5%;
  }
  .card{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    align-items: center;
  }
  .page2-page{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
  }
  .page2-text h1{
    padding-bottom: 2rem;
    font-size: 35px;
  }
  .page2-button{
    position: relative;
    left: 5%;
    right: 5%;
  }
  .page2-button a{
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
  }
  .shadow{
    display: flex;
    position: relative;
    top: 100px;
    left: 5%;
    z-index: 2;
  }
  .border-left {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
  }
  .border-right{
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
    position: absolute;
    left: 90%;
  }
  .ninja{
    width: 90%;
    height: auto;
    position: relative;
    top: 170px;
    left: 5%;
    right: 5%;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .row21{
    padding-bottom: 15px;
  }
  .page3-2{
    position: absolute;
    top: 83%;
    left: 5%;
    right: 5%;
  }
  .col31 img{
    position: relative;
    top: 30px;
    left: 60px;
  }
  .summa{
    display: flex;
    padding-top: 70px;
    padding-left: 50px;
  }
  .summa-text{
    width: 50%;
  }
  .summa-text span{
    color: #17f587;
    font-size: 45px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .zapisat-qurs{
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    position: absolute;
    top: 110%;
  }

  .text-long{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: -15%;
    left: 5%;
    right: 5%;
  }
  .zapisat-qurs {
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    position: absolute;
    top: 100%;
  }
  .qurs-button{
    padding: 20px 90px;
  }
  .qurs-button a{
    margin-top: 30px;
    text-decoration: none;
    background-color: #0011ff;
    color: white;
    border-radius: 15px;
    padding: 11px 40px;
    font-size: 16px;
  }
  .zapisat-qurs h4{
    padding-top: 50px;
  }
  .long-text1 h2{
    font-size: 30px;
    color: black;
  }
  .long-text2 h2{
    font-size: 30px;
    padding-bottom: 50px;
  }
  .img-text{
    padding-top: 40px;
    display: flex;
    z-index: 10;
  }
  .img-text h4{
    padding-left: 30px;
    font-size: 12px;
  }
  .border-left2{
    position: absolute;
    border-left: dashed 4px #555555;
    height: 240px;
    margin-top: -353px;
    left: 440px
  }
  .Todo{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 100%;
  }
  .todo-text1 img {
    width: 400px;
    height: auto;
  }
  .todo-text2{
    width: 30%;
    padding-left: 80px;
    padding-top: 0;
  }
  .uchebniy-proekt{
    position: absolute;
    left: 10%;
    right: 5%;
    top: -50%;
  }
  .font-icons{
    padding-left: 30px;
  }
  .otziv{
    position: absolute;
    z-index: 5;
    top: 130%;
    left: 10%;
    right: 5%;
  }
  .page4-1{
    position: absolute;
    top: 125%;
    left: 10%;
    z-index: 5;
  }
  .all-services{
    position: absolute;
    top: 100%;
    left: 35%;
  }
  .statistik{
    position: absolute;
    left: 10%;
    top: 230%;
  }
  .pol{
   margin-bottom: 150vh;
  }
}
/*-----------------------tablet-----------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  button, a, input{
    outline: none !important;
  }
  .node-header{
    width: 100%;
    height: auto;
  }
  .header-img img{
    width: 100%;
    background-size: cover;
    margin-top: -40px;
    z-index: -11;
    top: 0;
  }
  .img1{
    width: 100%;
    height: auto;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 10%;
  }
  .row{
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  .col{
    width: 30%;
    position: relative;
    color: white;
    top: -300px;
    left: 8%;
  }
  .col h4{
    font-size: 15px;
  }
  .col h1{
    color: #11DD6CFF;
    font-size: 20px;
    padding-bottom: 1rem;
  }
  .node-button{
    text-decoration: none;
    color: white;
    padding: 3px 0.5rem;
    border-radius: 5px;
    background-color: orangered;
  }
  .node-text a{
    font-size: 10px;
  }
  .node-text2 h2{
    padding: 0.6rem 0;
  }
  .node-text2 p{
    font-size: 10px;
  }
  .node-reg{
    width: 250px;
    height: 250px;
    margin-left: 45px;
    background-color: white;
    border-radius: 15px;
  }
  .node-reg1 h4{
    color: black;
    text-align: center;
    padding-top: 15px;
  }
  .node-reg1 p{
    color: #555555;
    font-size: 10px;
    padding: 8px 20px;
  }
  .node-input{
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .node-input p{
    margin-left: 10px;
    font-size: 10px;
    position: absolute;
    left: 15%;
    width: 80px;
    padding: 5px  8px;
    color: #555555;
    border: 1px solid;
  }
  .node-input span{
    color: red;
  }
  .node-input input{
    position: relative;
    font-size: 10px;
    left: 30%;
    top: -1px;
    width: 60%;
    padding: 5px 20px;
  }
  .node-input2{
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .node-input2 p{
    margin-left: 10px;
    font-size: 10px;
    position: absolute;
    left: 15%;
    width: 80px;
    padding: 5px  8px;
    color: #555555;
    border: 1px solid;
  }
  .node-input2 span{
    color: red;
  }
  .node-input2 input{
    position: relative;
    top: -1px;
    font-size: 10px;
    left: 30%;
    width: 60%;
    padding: 5px 20px;
  }
  .node-input3{
    padding: 0 20px;
  }
  .node-input3 p{
    margin-left: 10px;
    font-size: 10px;
    position: absolute;
    left: 15%;
    width: 80px;
    padding: 5px  8px;
    color: #555555;
    border: 1px solid;
  }
  .node-input3 span{
    color: red;
  }
  .node-input3 input{
    position: relative;
    top: -1px;
    font-size: 10px;
    left: 32%;
    width: 60%;
    padding: 5px 20px;
  }
  .node-button2{
    margin-top: 20px;
    margin-left: 10px;
  }
  #yubor{
    text-decoration: none;
    color: white;
    padding: 0.2rem 2rem;
    border-radius: 5px;
    font-size: 10px;
    background-color: #11DD6CFF;
  }
  /* ---------------------header end-------------------- */
  .page-text {
    text-align: center;
    position: absolute;
    top: 8%;
    z-index: 1;
  }
  .page-text h1{
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .page-text p{
    margin: 0 15rem;
    font-size: 15px;
    color: grey;
  }
  .card-deck{
    position: absolute;
    top: 60%;
    left: 5%;
    right: 5%;
  }
  .card{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    align-items: center;
  }
  .page2-page{
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
  }
  .page2-text h1{
    padding-bottom: 2rem;
    font-size: 35px;
  }
  .page2-button{
    position: relative;
    left: 5%;
    right: 5%;
  }
  .page2-button a{
    color: #ffffff;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
  }
  .shadow{
    display: flex;
    position: relative;
    top: 100px;
    left: 5%;
    z-index: 2;
  }
  .border-left {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
  }
  .border-right{
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
    position: absolute;
    left: 90%;
  }
  .ninja{
    width: 90%;
    height: auto;
    position: relative;
    top: 170px;
    left: 5%;
    right: 5%;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .colya p{
    font-size: 12px;
    width: 120px;
  }
  .row21{
    padding-bottom: 15px;
    font-size: 12px;
  }
  .page3-2{
    position: absolute;
    top: 105%;
    left: 5%;
    right: 5%;
  }
  .col31 img{
    position: relative;
    top: 30px;
    left: 35px;
  }
  .col31 p{
    font-size: 12px;
  }
  .summa{
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
  }
  .summa-text{
    width: 50%;
  }
  .summa-text h4{
    font-size: 12px;
  }
  .summa-text span{
    color: #17f587;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .zapisat-qurs{
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    position: absolute;
    top: 110%;
  }

  .text-long{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: -15%;
    left: 5%;
    right: 5%;
  }
  .zapisat-qurs {
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    position: absolute;
    top: 105%;
  }
  .qurs-button{
    padding: 20px 90px;
  }
  .qurs-button a{
    margin-top: 30px;
    text-decoration: none;
    background-color: #0011ff;
    color: white;
    border-radius: 15px;
    padding: 6px 30px;
    font-size: 14px;
  }
  .zapisat-qurs h4{
    font-size: 16px;
    padding-top: 50px;
  }
  .text-long{
    position: relative;
    z-index: 10;
    top: -700px;
    margin-right: 50px;
  }
  .long-text1 h2{
    font-size: 25px;
    color: black;
  }
  .long-text2 h2{
    font-size: 25px;
    padding-bottom: 35px;
  }
  .img-text{
    padding-top: 30px;
    display: flex;
  }
  .img-text h4{
    padding-left: 30px;
    font-size: 12px;
  }
  .border-text{
    padding-left: -50px;
  }
  .text-button{
    width: 5rem;
  }
  .text-button2{
    width: 8rem;
  }
  .text-button3{
    width:  10rem;
  }
  .border-left2{
    position: absolute;
    border-left: dashed 4px #555555;
    height: 330px;
    margin-top: -493px;
    left: 398px
  }
  .Todo{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 50%;
    z-index: 2;
  }
  .Todo h2{
    font-size: 25px;
  }
  .todo-text1 img {
    width: 300px;
    height: auto;
  }
  .todo-text2{
    width: 30%;
    padding-left: 80px;
    padding-top: 0;
  }
  .todo-text2 img{
    width: 300px;
    height: auto;
  }
  .uchebniy-proekt{
    position: absolute;
    left: 10%;
    right: 5%;
    top: -180%;
    z-index: 5;
  }
  .font-icons{
    padding-left: 60px;
  }
  .fa-image{
    width: 150px;
    height: auto;
  }
  .otziv{
    position: absolute;
    z-index: 5;
    top: 130%;
    left: 12%;
    right: 5%;
    font-size: 12px;
  }
  .avito-text2 img{
    /*margin-left: -30px;*/
    width: 150px;
    height: auto;
  }
  .page4-1{
    position: absolute;
    top: 125%;
    left: 5%;
    /*right: 5%;*/
    z-index: 5;
  }
  .js2-img img{
    width: 450px;
    height: auto;
  }
  .all-services{
    position: absolute;
    top: 100%;
    left: 35%;
  }
  .statistik{
    position: absolute;
    left: 10%;
    top: 125vh;
  }
  .tool-text h1{
    font-size: 25px;
  }
  .tool-text h1 p{
    font-size: 12px;
  }
  .pol{
    margin-bottom: 150vh;
  }
  .schot p{
    font-size: 12px;
  }
  .sapn1{
    padding: 0 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  button, a, input {
    outline: none !important;
  }

  .node-header {
    width: 100%;
    height: auto;
  }
  .header-img img {
    width: 100%;
    background-size: cover;
    margin-top: -40px;
    z-index: -11;
    top: 0;
  }
  .img1 {
    width: 100%;
    height: auto;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 20%;
  }
  .row {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .col {
    width: 30%;
    position: relative;
    color: white;
    top: -250px;
    left: 8%;
  }

  .col h4 {
    font-size: 12px;
  }
  .col h1 {
    color: #11DD6CFF;
    font-size: 18px;
    padding-bottom: 1rem;
  }
  .node-button {
    text-decoration: none;
    color: white;
    padding: 3px 0.4rem;
    border-radius: 5px;
    background-color: orangered;
    font-size: 10px;
  }
  .node-text2 h2 {
    padding: 0.4rem 0;
    font-size: 18px;
  }
  .node-text2 p {
    font-size: 10px;
  }
  .node-reg {
    width: 200px;
    height: 200px;
    margin-left: 35px;
    background-color: white;
    border-radius: 15px;
  }
  .node-reg1 h4 {
    color: black;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
  }
  .node-reg1 p {
    color: #555555;
    font-size: 10px;
    padding: 3px 14px;
  }
  .node-input {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .node-input p {
    margin-left: 5px;
    font-size: 8px;
    position: absolute;
    left: 15%;
    width: 60px;
    padding: 3px 8px;
    color: #555555;
    border: 1px solid;
  }

  .node-input span {
    color: red;
  }

  .node-input input {
    position: relative;
    font-size: 8px;
    left: 32%;
    top: -5px;
    width: 50%;
    padding: 3px 10px;
  }
  .node-input2 {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .node-input2 p {
    margin-left: 5px;
    font-size: 8px;
    position: absolute;
    left: 15%;
    width: 60px;
    padding: 3px 8px;
    color: #555555;
    border: 1px solid;
  }

  .node-input2 span {
    color: red;
  }

  .node-input2 input {
    position: relative;
    top: -4px;
    font-size: 8px;
    left: 32%;
    width: 55%;
    padding: 3px 10px;
  }
  .node-input3 {
    padding: 0 20px;
  }
  .node-input3 p {
    margin-left: 5px;
    font-size: 8px;
    position: absolute;
    left: 15%;
    width: 60px;
    padding: 3px 8px;
    color: #555555;
    border: 1px solid;
  }
  .node-input3 span {
    color: red;
  }
  .node-input3 input {
    position: relative;
    top: -5px;
    font-size: 8px;
    left: 31.5%;
    width: 60%;
    padding: 3px 10px;
  }
  .node-button2 {
    margin-top: 1px;
    margin-left: 10px;
  }

  #yubor {
    text-decoration: none;
    color: white;
    padding: 0.2rem 2rem;
    border-radius: 5px;
    font-size: 10px;
    background-color: #11DD6CFF;
  }

  /* ---------------------header end-------------------- */
  .page-text {
    position: absolute;
    top: 8%;
    z-index: 1;
    left: 5%;
    right: 5%;
  }
  .page-text h1 {
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .page-text p {
    margin: 0 auto;
    font-size: 11px;
    color: grey;
  }
  .page-text h5{
    font-size: 11px;
  }
  .card-deck {
    position: absolute;
    top: 55%;
    left: 5%;
    right: 5%;
  }
  .card {
    width: 300px;
    height: auto;
    border-radius: 25px;
    align-items: center;
    z-index: 5;
  }
  .card-body{
    font-size: 11px;
  }
  .page2-page {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
    z-index: 2;
  }
  .page2-text h1 {
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .page2-text h5 {
    font-size: 15px;
  }
  .page2-text p{
    font-size: 11px;
  }
  .page2-button {
    position: relative;
    left: 5%;
    right: 5%;
  }
  .page2-button a {
    color: #ffffff;
    display: flex;
    font-size: 10px;
    align-items: center;
    padding: 10px 8px;
    text-decoration: none;
  }
  .shadow {
    display: flex;
    position: relative;
    top: 100px;
    left: 5%;
    font-size: 11px;
    z-index: 2;
  }
  .border-left {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
  }
  .border-right {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 160px;
    position: absolute;
    left: 90%;
  }
  .ninja {
    width: 90%;
    height: auto;
    position: relative;
    top: 170px;
    left: 5%;
    right: 5%;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .ninja h2{
    font-size: 20px;
  }
  .row3{
    padding-left: 15px;
  }
  .colya p {
    font-size: 10px;
    width: 100px;
  }
  .col12{
    width: 12%;
  }
  .row21 {
    padding-bottom: 15px;
    font-size: 10px;
  }
  .page3-2 {
    position: absolute;
    top: 150%;
    left: 5%;
    right: 5%;
  }
  .col31{
    margin: 15px;
  }
  .col31 img {
    position: relative;
    top: 30px;
    left: 22px;
  }
  .col31 p {
    font-size: 10px;
  }
  .summa {
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
  }
  .summa img{
    width: 250px;
    height: auto;
  }
  .summa-text {
    width: 50%;
  }
  .summa-text h4 {
    font-size: 12px;
  }
  .summa-text span {
    color: #17f587;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .zapisat-qurs {
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    z-index: 5;
    position: absolute;
    top: 105%;
  }
  .qurs-button {
    padding: 20px 50px;
  }
  .qurs-button a {
    margin-top: 12px;
    text-decoration: none;
    background-color: #0011ff;
    color: white;
    border-radius: 15px;
    padding: 6px 30px;
    font-size: 14px;
  }
  .zapisat-qurs h4 {
    font-size: 16px;
    padding-top: 40px;
  }
  .text-long {
    position: absolute;
    top: 45vh;
    left: 5%;
    right: 5%;
    z-index: 2;
  }
  .long-text1 h2 {
    font-size: 20px;
    color: black;
  }
  .long-text2 h2 {
    font-size: 20px;
    padding-bottom: 25px;
  }
  .long-text2{
    margin-left: -50px;
  }
  .img-text {
    padding-top: 20px;
    display: flex;
  }
  .long-text1 p{
    font-size: 10px;
  }
  .img-text img{
    width: 120px;
    height: auto;
  }
  .img-text h4 {
    padding-left: 30px;
    font-size: 10px;
  }
  .border-text {
    padding-left: -50px;
  }
  .border-text p{
    font-size: 10px;
  }
  .text-button {
    width: 4rem;
  }
  .text-button2 {
    width: 6rem;
  }
  .text-button3 {
    width: 8rem;
  }
  .border-left2 {
  display: none;
  }
  .Todo {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 120vh;
    z-index: 2;
  }
  .Todo h2 {
    font-size: 20px;
  }
  .todo-text1 img {
    width: 200px;
    height: auto;
  }
  .todo-text1 p{
    font-size: 11px;
  }
  .todo-text2 {
    width: 30%;
    padding-left: 80px;
    padding-top: 0;
  }
  .todo-text12 h4{
    font-size: 20px;
  }
  .todo-text12 p{
    font-size: 11px;
  }
  .text2-p{
    font-size: 9px;
  }
  .todo-text2 img {
    width: 200px;
    height: auto;
  }
  .todo-text22{
    margin-top: -25px;
  }
  .todo-text22 h4{
    font-size: 20px;
  }
  .todo-text22 p{
    font-size: 11px;
  }
  .uchebniy-proekt {
    position: absolute;
    left: 10%;
    right: 5%;
    top: 90%;
    z-index: 5;
  }
  .pro-text1 h2{
    font-size: 20px;
  }
  .proekt-text{
    font-size: 11px;
    z-index: 3;
  }
  .font-icons {
    padding-left: 50px;
    width: 250px;
    height: auto;
  }
  .right-img{
    margin-top: 0px;
  }
  .right-img h4{
      font-size: 20px;
  }
  .fa-image {
    width: 150px;
    height: auto;
  }
  .otziv {
    position: absolute;
    z-index: 5;
    top: 400%;
    left: 12%;
    right: 5%;
    font-size: 12px;
  }
  .avito-text2 img {
    width: 150px;
    height: auto;
  }
  .page4-1 {
    position: absolute;
    top: 480%;
    left: 5%;
    z-index: 5;
  }
  .js2-img img {
    width: 250px;
    height: auto;
  }
  .page4-1 p{
    font-size: 11px;
  }
  .all-services {
    position: absolute;
    top: 100%;
    left: 35%;
  }
  .statistik {
    position: absolute;
    left: 5%;
    top: 380vh;
  }
  .tool-text h1 {
    font-size: 20px;
  }
  .tool-text p {
    font-size: 11px;
  }
  .node-js2 h2{
    font-size: 20px;
  }
  .schot p {
    font-size: 8px;
  }
  .sapn1 span{
    font-size: 40px;
  }
  .sapn1 {
    padding: 0 10px;
  }
  .pol {
    margin-bottom: 450vh;
  }

}
@media (max-width: 575px) {
  * p{
    font-size: 8px;
  }
  button, a, input {
    outline: none !important;
  }
  .node-header {
    width: 100%;
    height: auto;
  }
  .img1 {
    width: 100%;
    height: auto;
  }
  .row {
    display: flex;
    width: 100%;
  }
  .col {
    width: 30%;
    position: relative;
    color: white;
    top: -160px;
    left: 5%;
  }
  .col h4 {
    font-size: 9px;
  }
  .col h1 {
    color: #11DD6CFF;
    font-size: 11px;
    padding-bottom: 0.1rem;
  }
  .node-button {
    text-decoration: none;
    color: white;
    padding: 1px 0.1rem;
    border-radius: 5px;
    background-color: orangered;
    font-size: 7px;
  }
  .node-text2 h2 {
    padding: 0.1rem 0;
    font-size: 8px;
  }
  .node-text2 p {
    font-size: 6px;
  }
  .node-reg {
    display: none;
  }
  /* ---------------------header end-------------------- */
  .page-text {
    position: absolute;
    top: 8%;
    z-index: 1;
    left: 5%;
    right: 5%;
  }
  .bulut{
    display: none;
  }
  .page-text h1 {
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .page-text p {
    margin: 0 auto;
    font-size: 11px;
    color: grey;
  }
  .page-text h5{
    font-size: 11px;
  }
  .card-deck {
    position: absolute;
    top: 70%;
    left: 30%;
    right: 5%;
  }
  .card {
    width: 150px;
    height: auto;
    border-radius: 25px;
    align-items: center;
    z-index: 5;
  }
  .card-body{
    font-size: 11px;
  }
  .page2-page {
    position: absolute;
    top: 550px;
    left: 5%;
    right: 5%;
    z-index: 2;
  }
  .page2-text h1 {
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .page2-text h5 {
    font-size: 15px;
  }
  .page2-text p{
    font-size: 11px;
  }
  .page2-button {
    position: relative;
    left: 0.4%;
    right: 1%;
  }
  .page2-button a {
    color: #ffffff;
    display: flex;
    font-size: 8px;
    align-items: center;
    padding: 11px 2px;
    text-decoration: none;
  }
  .shadow {
    display: flex;
    position: relative;
    top: 100px;
    left: 5%;
    font-size: 11px;
    z-index: 2;
  }
  .border-left {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 130px;
  }
  .border-right {
    background-color: #1FB31F;
    width: 10px;
    border-radius: 10px;
    height: 130px;
    position: absolute;
    left: 90%;
  }
  .ninja {
    width: 90%;
    height: auto;
    position: relative;
    top: 30vh;
    left: 5%;
    right: 5%;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .ninja h2{
    font-size: 20px;
  }
  .row3{
    padding-left: 15px;
    display: inline-block;
  }
  .col123{
    padding-left: 8px;
  }
  .col124{
    padding-left: 8px;
  }
  .colya p {
    font-size: 10px;
    width: 100px;
  }
  .col12{
    width: 12%;
  }
  .row21 {
    padding-bottom: 15px;
    font-size: 10px;
    display: inline-block;
  }
  .page3-2 {
    position: absolute;
    top: 380vh;
    left: 5%;
    right: 5%;
  }
  .row32{
    display: inline-block;
  }
  .col31{
    margin: 15px;
    width: 200px;
    margin-left: 35px;
  }
  .col31 img {
    position: relative;
    top: 30px;
    left: 70px;
  }
  .col31 p {
    font-size: 10px;
  }
  .summa {
    position: relative;
    top: -5vh;
    display: inline-block;
    padding-top: 50px;
    padding-left: 30px;
  }
  .summa img{
    width: 250px;
    height: auto;
  }
  .summa-text {
    width: 100%;
    margin-left: -60px;
  }
  .summa-text h4 {
    font-size: 12px;
  }
  .summa-text span {
    color: #17f587;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .zapisat-qurs {
    width: 90%;
    height: 7%;
    left: 2%;
    right: 5%;
    z-index: 5;
    position: absolute;
    top: 230vh;
  }
  .qurs-button {
    padding: 20px 50px;
  }
  .qurs-button a {
    margin-top: 12px;
    text-decoration: none;
    background-color: #0011ff;
    color: white;
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 14px;
  }
  .zapisat-qurs h4 {
    font-size: 12px;
    padding-top: 40px;
  }
  .text-long {
    display: inline-block;
    position: absolute;
    top: 500vh;
    left: 5%;
    right: 5%;
    z-index: 2;
  }
  .long-text1 h2 {
    font-size: 20px;
    color: black;
  }
  .long-text2 h2 {
    font-size: 20px;
    padding-bottom: 25px;
  }
  .long-text2{
    margin-left: -50px;
    width: 100%;
    height: auto;
  }
  .img-text {
    padding-top: 20px;
    display: flex;
  }
  .long-text1 p{
    font-size: 10px;
  }
  .img-text img{
    width: 120px;
    height: auto;
  }
  .img-text h4 {
    padding-left: 30px;
    font-size: 10px;
  }
  .border-text {
    padding-left: -50px;
  }
  .border-text p{
    font-size: 10px;
  }
  .text-button {
    width: 4rem;
  }
  .text-button2 {
    width: 6rem;
  }
  .text-button3 {
    width: 8rem;
  }
  .border-left2 {
    display: none;
  }
  .Todo {
    position: absolute;
    left: 10%;
    right: 5%;
    top: 700vh;
    z-index: 2;
  }
  .Todo2{
    display: inline-block;
  }
  .Todo h2 {
    font-size: 20px;
  }
  .todo-text1 img {
    width: 200px;
    height: auto;
  }
  .todo-text1 p{
    font-size: 11px;
  }
  .todo-text2 {
    width: 30%;
    padding-left: 0px;
    padding-top: 0;
  }
  .todo-text12 h4{
    font-size: 20px;
  }
  .todo-text12 p{
    font-size: 11px;
  }
  .text2-p{
    width: 150%;
    font-size: 10px
  }
  .todo-text2 img {
    width: 200px;
    height: auto;
  }
  .todo-text22{
    margin-top: -25px;
  }
  .todo-text22 h4{
    font-size: 20px;
  }
  .todo-text22 p{
    font-size: 11px;
  }
  .uchebniy-proekt {
    position: absolute;
    left: 10%;
    right: 5%;
    top: 780vh;
    z-index: 5;
  }
  .pro-text1 h2{
    font-size: 20px;
  }
  .proekt-text{
    display: inline-block;
    font-size: 11px;
    z-index: 3;
  }
  .font-icons {
    padding-left: 50px;
    width: 250px;
    height: auto;
  }
  .right-img{
    margin-top: 0px;
  }
  .right-img h4{
    font-size: 20px;
  }
  .fa-image {
    width: 150px;
    height: auto;
  }
  .otziv {
    position: absolute;
    z-index: 5;
    top: 1030vh;
    left: 12%;
    right: 5%;
    font-size: 12px;
  }
  .avito{
    display: inline-block;
  }
  .avito-text2{
    margin-left: 50px;
  }
  .avito-text2 img {
    width: 150px;
    height: auto;
  }
  .page4-1 {
    position: relative;
    top: 1100vh;
    left: 8%;
    z-index: 5;
  }
  .node-js{
    width: 80%;
    height: auto;
  }
  .node-js2{
    width: 80%;
    height: auto;
  }
  .js2-img img {
    width: 150px;
    height: auto;
  }
  .page4-1 p{
    font-size: 11px;
  }
  .all-services {
    position: absolute;
    top: 110%;
    left: 15%;
  }
  .tools{
    display: inline-block;
  }
  .tool-img {
    width: 300px;
    height: auto;
  }
  .statistik {
    position: absolute;
    left: 6%;
    top: 1080vh;
  }
  .schot{
    display: inline-block;
  }
  .tool-text h1 {
    font-size: 20px;
  }
  .tool-text p {
    font-size: 11px;
  }
  .node-js2 h2{
    font-size: 20px;
  }
  .schot p {
    font-size: 8px;
  }
  .sapn1 span{
    font-size: 40px;
  }
  .sapn1 {
    padding: 0 10px;
  }
  .pol {
    margin-bottom: 1200vh;
  }

}
