<div class="node-header">
  <div class="header-img">
    <img src="./assets/node.js%20images/XMLID_157_.svg" alt="XMLID">
    <div class="img1">
      <img src="./assets/node.js%20images/Group%201776.svg" alt="">
      <div class="container">
        <div class="row">
          <div class="col">
            <h4>Онлайн-курс</h4>
            <h1 class="node-text">Node.js. Разботка серверов приложений и API</h1>
            <a href="#" type="button" class="node-button">в асинхронном формате</a>
            <div class="node-text2">
              <h2>Начните обучение, когда удобно вам </h2>
              <p> Курс разработан для тех, кто хочет сменить профессию и стать высокооплачиваемым профессионалом. Он подойдёт для работаюших людей, у которых мало времени.</p>
            </div>
          </div>
            <div class="col">
              <div class="node-reg">
                <div class="node-reg1"><h4>Запишитесь на консультацию</h4>
                  <p>Оставьте свои контакты, мы свяжемся с вами и ответим на все вапросыю</p>
                </div>

                <form>
                  <div class="node-input">
                    <p>Имя <span>*</span></p><input type="text" placeholder="Xurshid">
                  </div>
                  <div class="node-input2">
                    <p>Телефон <span>*</span></p><input type="text" placeholder="+99891 791 11 22">
                  </div>
                  <div class="node-input3">
                    <p>Эл. почта <span>*</span></p><input type="email" placeholder="studentoftuit@gmail.com">
                  </div>
                </form>
                 <div class="node-button2">
                   <a href="#" id="yubor">Отправить</a>
                 </div>
<!--                <div class="alert"><i class="fal fa-exclamation-circle">Обязательное поле</i></div>-->
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="bulut" xmlns="http://www.w3.org/2000/svg" width="205.157" height="732.388" viewBox="0 0 205.157 732.388">
    <g id="Group_259" data-name="Group 259" transform="translate(0.999 -868.416)">
      <path id="Path_756" data-name="Path 756" d="M-3.9-.194S44.424-6.244,100.837,86.063,67.927,255.753,150.2,406.692-3.9,663.734-3.9,663.734-3.158,735.984-3.9-.194Z" transform="translate(3.898 900.446)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762,216.388s90.395,15.15,144.683,141.885c19.489,45.5-15.465,110.119,3.607,203.182s79.215,114.8,42.079,215.2-190.558,168.316-190.558,168.316" transform="translate(2762 654)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="page-text">
    <h1>Почему курс профессиональный?</h1>
    <p>На этом курсе вы научитесь делать настоящие проекты, такие же по уровню сложности, как в индустрии. И будете делать их правильно, чтобы после обучения выдавать результат высокого уровня, за который
      компании готовы платить.</p>
    <h5>Чтобы добиться такого качества обучения, мы используем профессиональную триаду <span>«критерии-проекты-наставники»:</span></h5>
  </div>
  <div class="card-deck">
    <div class="card">
      <img src="./assets/node.js%20images/undraw_coding_6mjf.svg" class="card-img-top" alt="...">
      <div class="card-body">

        <p class="card-text">Проверкой ваших проектов на соответствие критериям качества занимаются наставники, которые являются профессиональными
          разработчиками.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/node.js%20images/undraw_profile_details_f8b7.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text2">Профессиональные критерии качества мы разрабатываем совместно с компаниями и профессиональным
          сообществом.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/node.js%20images/undraw_feeling_proud_qne1.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">В течение обучения вы выполняете настоящие проекты.</p>
      </div>
    </div>
  </div>
</div>
<div class="page2">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="image-left" xmlns="http://www.w3.org/2000/svg" width="205.157" height="732.388" viewBox="0 0 205.157 732.388">
    <g id="Group_259" data-name="Group 259" transform="translate(0.999 -868.416)">
      <path id="Path_756" data-name="Path 756" d="M-3.9-.194S44.424-6.244,100.837,86.063,67.927,255.753,150.2,406.692-3.9,663.734-3.9,663.734-3.158,735.984-3.9-.194Z" transform="translate(3.898 900.446)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762,216.388s90.395,15.15,144.683,141.885c19.489,45.5-15.465,110.119,3.607,203.182s79.215,114.8,42.079,215.2-190.558,168.316-190.558,168.316" transform="translate(2762 654)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>

  <svg class="image-right" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
    <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
      <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="page2-page">
    <div class="page2-text">
      <h1>Как проходит обучение на курсе</h1>
      <h5>Обучение</h5>
      <p>Изучение материалов, работа над праектом с наставником</p>
    </div>
    <div class="page2-button">
      <ul>
        <li><a href="#" type="button">Раздел1</a></li>
        <li><a href="#" type="button">Раздел2</a></li>
        <li><a href="#" type="button">Раздел3</a></li>
        <li><a href="#" type="button">Раздел4</a></li>
        <li><a href="#" type="button">Раздел5</a></li>
        <li><a href="#" type="button">Раздел6</a></li>
        <li><a href="#" type="button">Раздел7</a></li>
        <li><a href="#" type="button">Раздел8</a></li>
        <li><a href="#" type="button">Раздел9</a></li>
      </ul>
    </div>
    <div class="shadow">
      <div class="border-left border-white">
      </div>
        <div class="shadow-text1">
          <h5 style="padding-bottom: 1rem">Старт</h5>
          <p>Доступ к интерактивным курсам,
            подборка предварительных
            материалов, выбор наставника и
            проекта</p>
        </div>
      <div class="border-right border-white">
      </div>
      <div class="shadow-text2">
        <h5 style="padding-bottom: 1rem; padding-right: 1rem">Защита проекта</h5>
        <p>Подготовка проекта к итоговой
          защите</p>
      </div>
    </div>
    <div class="ninja">
      <h2>Что вас ждёт на обучении</h2>
      <div class="row3">
        <div class="col12 colya">
          <img src="./assets/node.js%20images/graduation.svg" alt="">
          <h5>Структурированная теория</h5>
          <p>В начале каждого раздела вы изучаете
            теорию из текстового учебника и
            отобранных нами материалов.</p>
        </div>
        <div class="col123 colya">
          <img src="./assets/node.js%20images/keyboard.svg" alt="">
          <h5>Практика</h5>
          <p>После изучения теории выполняете
            домашнее задание, в котором
            работаете над своим проектом и
            закрепляете учебный материал</p>
        </div>
        <div class="col124 colya">
          <img src="./assets/node.js%20images/code.svg" alt="">
          <h5>Ревью кода</h5>
          <p>После каждого задания ваш личный
            наставник проверяет качество работы,
            делится опытом и рассказывает, как
            можно сделать лучше.</p>
        </div>
      </div>
      <h2>Подходит ли вам этот курс</h2>
      <div class="row21">
        <div class="col21 ">
          <div class="refresh">
            <img src="./assets/node.js%20images/refresh.svg" alt="">
            <p>Курс проходит в асинхронном формате. Вы можете
              начать обучение в любое время и двигаться по
              программе с комфортной вам скоростью.</p>
          </div>
          <div class="refresh">
            <img src="./assets/node.js%20images/ninja.svg" alt="">
            <p>Курс рассчитан на фронтенд-разработчиков
              уверенно применяющих Зауазспру (Е56+) на
              практике. Он подойдёт для выпускников курса<br><b>
              <span>«Javascript aрхитектура клиентских приложений».</span></b></p>
          </div>
        </div>
        <div class="col21">
          <div class="refresh">
            <img src="./assets/node.js%20images/discussion.svg" alt="">
            <p>Главная ценность курса — большой объём обратной
              связи от наставника, который детально разберёт ваш
              код, определит пробелы в понимании материала и
              поможет со всем справиться.</p>
          </div>
          <div class="refresh">
            <img src="./assets/node.js%20images/brain.svg" alt="">
            <p>В курсе мы используем самые эффективные для
              обучения профессионалов форматы: тексты,
              тренажёры и автотесты. Мы не злоупотребляем
              видео и используем его только там, где оно</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clas" style="height: 300px"></div>
<div class="page3">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="rasm-right" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" padding-top="200px" viewBox="0 0 121.092 429.695">
    <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
      <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <svg class="rasm-left" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
    <g id="Group_517" data-name="Group 517" transform="translate(0.81 1.829)">
      <path id="Path_756" data-name="Path 756" d="M-3.9,388.959s28.247,3.537,61.223-50.421S38.087,239.346,86.181,151.115-3.9.862-3.9.862-3.466-41.371-3.9,388.959Z" transform="translate(4.009 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762.078,642.282s52.841-8.856,84.574-82.938c11.392-26.6-9.04-64.369,2.108-118.769s46.3-67.1,24.6-125.8-111.391-98.389-111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="page3-2">
    <h1>Учим делать правильно</h1>
    <div class="row32">
      <div class="col31">
        <img src="./assets/node.js%20images/checklist.svg" alt="">
        <p>Актуальные стандарты
          качества: не нужно
          переучиваться после
          курса.</p>
      </div>
      <div class="col31" >
        <img src="./assets/node.js%20images/workflow.svg" alt="">
        <p>Понимание полного
          цикла работы
          разработчика</p>
      </div>
      <div class="col31">
        <img src="./assets/node.js%20images/video-tutorials.svg" alt="">
          <p>Фундаментальные и
            структурированные
            знания необходимых
            технологий.</p>
      </div>
      <div class="col31">
        <img src="./assets/node.js%20images/sand-clock.svg" alt="">
        <p>Опыт работы с
           дедлайнами и
          планирования работы</p>
      </div>
    </div>
    <div class="summa">
      <img src="./assets/node.js%20images/undraw_code_review_l1q9.svg" alt="">
      <div class="summa-text">
        <h4>После успешного завершения курса можно
          начать карьеру фулстек-разработчика, а также
          продолжить обучение на других наших курсах.<br><b><br>
        <span>5 000 000 сум</span></b><br><br>
          Медианное значение зарплаты фулстек-разработчика по
          исследованию компании «Мой круг» в Ташкенте во втором
          полугодии 2020 года.
        </h4>
      </div>
    </div>
    <div class="zapisat-qurs">
      <div class="qurs-button">
        <a href="#" type="button">Записаться на курс</a>
      </div>
      <h4>Консультация по телефону +99871 784 56 99.</h4>
    </div>
  </div>
</div>
<div class="bosh-joy" style="padding-top: 100vh"></div>
<div class="page3">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="rasm-right" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" padding-top="200px" viewBox="0 0 121.092 429.695">
    <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
      <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <svg class="rasm-left" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
    <g id="Group_517" data-name="Group 517" transform="translate(0.81 1.829)">
      <path id="Path_756" data-name="Path 756" d="M-3.9,388.959s28.247,3.537,61.223-50.421S38.087,239.346,86.181,151.115-3.9.862-3.9.862-3.466-41.371-3.9,388.959Z" transform="translate(4.009 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762.078,642.282s52.841-8.856,84.574-82.938c11.392-26.6-9.04-64.369,2.108-118.769s46.3-67.1,24.6-125.8-111.391-98.389-111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="text-long">
    <div class="long-text1">
      <h2><b>Наставники — это опытные
        профессионалы, работающие
        в индустрии</b></h2>
      <div class="img-text">
        <img src="./assets/node.js%20images/undraw_coding_6mjf.svg" alt="">
        <h4>Мы убеждены, что обратную
          связь ученику должен давать
          опытный специалист, который
          прямо сейчас работает на
          рынке, решает современные
          задачи, использует
          актуальные подходы и
          инструменты.</h4>
      </div>
      <p><br>Чтобы отбирать таких специалистов, мы построили уникальную
        систему привлечения и фильтрации.<br>
       <br> Вместе с наставником вы будете разрабатывать проект в экосистеме,
        привычной профессионалам. Рабочий процесс мало отличается от
        реальной разработки в больших компаниях
      </p>
    </div>
    <div class="long-text2">
    <h2><b>Процесс отбора
      наставника</b></h2>
    <div class="border-text">
      <button class="text-button">I</button>
      <p><span>Формальные требования</span><br>
        Проверяем, кем и где кандидат в наставники
        работал, какой у него опыт, а также смотрим на
        его код.</p>
    </div>
      <div class="border-text">
        <button class="text-button2">II</button>
        <p><span>Собеседование</span><br>
          Проводим часовое собеседование, на котором
          проверяем знание предметной области, а
          также умение понятно объяснять и другие
          человеческие качества.</p>
      </div>
      <div class="border-text">
        <button class="text-button3">III</button>
        <p><span>Регулярная обратная связь</span><br>
          Прошедших собеседование кандидатов
          допускаем до учеников. На этом путь
          наставника только начинается. После каждого
          курса мы собираем обратную связь, которая
          помогает наставникам совершенствоваться.</p>
      </div>
      <div class="border-left2"></div>
    </div>

  </div>
  <div class="Todo">
    <h2><b>Процесс работы с наставником</b></h2>
    <div class="Todo2">
      <div class="todo-text1">

        <p>Во время курса вас будет сопровождать личный наставник. Он будет
          делать ревью кода, проверять практические задания, отвечать на
          вопросы и делиться секретами мастерства.</p>
        <img src="./assets/node.js%20images/Group%201777.svg" alt="">
        <div class="todo-text12">
          <h4>Детальная обратная связь</h4><br>
          <p>ревью кода — это привычная практика, используемая в крупных
            компаниях, когда более опытный разработчик проверяет код менее
            опытного. Львиную долю обратной связи вы получите от наставника в
            виде ревью кода. Он прочитает каждую строчку, оставит комментарии и
            поможет сделать ваше решение правильным</p>
        </div>
      </div>
      <div class="todo-text2">
      <p class="text2-p">Привет, сенсей. А какой редактор кода посоветуешь
        поставить? А то в интернете слишком много
        мнений, я не могу решить,</p>
        <img src="./assets/node.js%20images/undraw_podcast_q6p7.svg" alt="">
        <div class="todo-text22">
          <h4>Голосовые консультации</h4><br>
          <p>А когда ревью кода недостаточно, наставники используют
            голосовые консультации, зачастую с демонстрацией экрана. На
            таких консультациях разбирают сложные вопросы или
            демонстрируют нетривиальные приёмы. Во время курса
            предусмотрено 5 часов голосовых консультаций.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bosh-joy" style="padding-top: 100vh"></div>
<div class="page3">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="rasm-right" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" padding-top="200px" viewBox="0 0 121.092 429.695">
    <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
      <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <svg class="rasm-left" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
    <g id="Group_517" data-name="Group 517" transform="translate(0.81 1.829)">
      <path id="Path_756" data-name="Path 756" d="M-3.9,388.959s28.247,3.537,61.223-50.421S38.087,239.346,86.181,151.115-3.9.862-3.9.862-3.466-41.371-3.9,388.959Z" transform="translate(4.009 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762.078,642.282s52.841-8.856,84.574-82.938c11.392-26.6-9.04-64.369,2.108-118.769s46.3-67.1,24.6-125.8-111.391-98.389-111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="uchebniy-proekt">
    <div class="proekt-text">
     <div class="pro-text1">
       <h2><b>Учебный проект</b></h2><br>
       <p>В каждом разделе вы будете выполнять задания по учебному
         проекту. Над учебным проектом вы будете работать
         самостоятельно для закрепления пройденного материала.</p><br>
       <div class="font-icons">
         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" class="svg-inline--fa fa-image fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
           <path fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z">
           </path></svg>
       </div>
     </div>
      <div class="pro-text2">
        <i class="fal fa-exclamation-circle" style="color: #1FB31F"></i><br>
        <p>Проект уже свёрстан. В течение курса вы сфокусируетесь на

          главном: проектировании и программировании</p>
        <div class="right-img">
          <h4><b>«Куплю. Продам»</b></h4><br>
          <p>Интернет-сервис, упрошающий продажу или покупку любых
            вещей. Всё, что требуется для покупки: найти подходящее
            объявление и связаться с продавцом по егпай. Продать
            ненужные вещи ничуть не сложней: зарегистрируйтесь и
            заполните форму нового объявления.</p>
        </div>
      </div>
    </div>
    <div class="proekt-text">
      <div class="pro-text1">
        <h2 style="padding-top: 50px"><b>Личный проект</b></h2><br>
        <p>В каждом разделе вы будете выполнять задания по личному
          проекту. Над ним вы будете работать и самостоятельно, и в
          паре с наставником.</p><br>
        <div class="font-icons">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" class="svg-inline--fa fa-image fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z">
            </path></svg><br>
        </div>
      </div>
      <div class="pro-text2"><br>
        <i class="fal fa-exclamation-circle" style="color: #1FB31F"></i><br>
        <p>Проект уже свёрстан. В течение курса вы сфокусируетесь на
          главном: проектировании и программировании</p>
        <div class="right-img">
          <h4><b>«Типотека»</b></h4><br>
          <p>Приложение для быстрого создания персональных блогов.
            Несколько простых шагов и вы автор современной площадки
            для публикации заметок. «Типотека» — это не только
            создание контента. Любой желающий читатель может
            зарегистрироваться и оставить комментарии. Создавайте
            заметки, общайтесь с читателями, модерируйте контент
            вместе с «Типотека».</p>
        </div>
      </div>
    </div>
  </div>
  <div class="otziv">
    <h2><b>Отзывы компаний</b></h2>
    <p>Мы давно зарекомендовали себя в профессиональном сообществе. Нас и наших выпускников знают не
      только разработчики, но и крупные компании. Вот несколько отзывов от компаний о наших курсахи
      выпускниках.</p>
    <div class="strelka">
      <svg width="2rem" height="2rem" color="#17f587" cursor="pointer"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
        </path>
      </svg>
      <svg width="2rem" height="2rem" cursor="pointer" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
        </path>
      </svg>
    </div>
    <div class="avito">
      <div class="avito-text">
        <p>В Авито нет верстальщиков, только фронтенд-разработчики разных
          ‘уровней. Чтобы попасть к нам на работу младшим разработчиком,
          человек должен обладать определёнными навыками. Это уверенное
          владение базовыми технологиями: НТМL, СSS и Jаvascript, понимание
          того, как работает браузер, знание, как делать проекты
          кроссбраузерными, как работает АРI, DОМ и другие важные основы.
          Кроме этого мы ценим ответственность, умение играть в команде,
          желание развиваться и инициативность.</p><br>
        <h4><b>Яна Крикливая</b></h4>
        <p>разработчик клиентской части, Авито</p><br>
      </div>
      <div class="avito-text2">
        <img src="./assets/node.js%20images/avito@1x.png" alt="">
        <h4>Авито</h4>
        <p>Интернет-сервис для размещения
          объявлений о товарах, услугах,
          вакансиях и резюме на рынке труда.</p>
      </div>

    </div>
  </div>
</div>

<div class="bosh-joy" style="padding-top: 10vh"></div>
<div class="page4">
  <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%" viewBox="0 0 1366 880.008">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fff" stop-opacity="0"/>
        <stop offset="1" stop-color="#f2f2f2"/>
      </linearGradient>
    </defs>
    <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
  </svg>
  <svg class="rasm-right2" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" padding-top="200px" viewBox="0 0 121.092 429.695">
    <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
      <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <svg class="rasm-left2" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
    <g id="Group_517" data-name="Group 517" transform="translate(0.81 1.829)">
      <path id="Path_756" data-name="Path 756" d="M-3.9,388.959s28.247,3.537,61.223-50.421S38.087,239.346,86.181,151.115-3.9.862-3.9.862-3.466-41.371-3.9,388.959Z" transform="translate(4.009 19.477)" fill="#f2f2f2"/>
      <path id="Path_757" data-name="Path 757" d="M-2762.078,642.282s52.841-8.856,84.574-82.938c11.392-26.6-9.04-64.369,2.108-118.769s46.3-67.1,24.6-125.8-111.391-98.389-111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
    </g>
  </svg>
  <div class="page4-1">
    <h2><b>Программа курса</b></h2>
    <div class="node-js">
      <p>Раздел1</p><br>
      <h5>Знакомство с платформой</h5>
      <p>Познакомимся с основами Моде}, настроим редактор кода для отладки и обсудим особенности программирования на стороне сервера
        Научимся создавать и запускать приложения в консоли, передавать им параметры. Познакомимся с практической стороной отладки.</p><br>
      <div class="node-js2-1">
        <div class="js2-text">
          <h5>Основы Node.js.<br><br>
          Модули.</h5><br>
          <p>- Введение в модули</p>
          <p>- Встроенные модули.</p>
          <p>- Менеджер пакетов npm.</p><br>
          <h5>Command Line Interface</h5><br>
          <h5>Отладка приложения.</h5><br>
          <p>- Отладка в редакторе.</p>
          <p>- Отладка в консоли.</p>
        </div>
        <div class="js2-img">
          <img src="./assets/node.js%20images/nodejs-1.svg" alt="">
        </div>
        <div class="img-up">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.25" height="23.25" viewBox="0 0 23.25 23.25">
            <path id="Icon_awesome-arrow-circle-up" data-name="Icon awesome-arrow-circle-up" d="M.375,12A11.625,11.625,0,1,1,12,23.625,11.623,11.623,0,0,1,.375,12Zm6.731,1.355L10.5,9.816v8.559A1.122,1.122,0,0,0,11.625,19.5h.75A1.122,1.122,0,0,0,13.5,18.375V9.816l3.394,3.539a1.126,1.126,0,0,0,1.608.019l.511-.516a1.12,1.12,0,0,0,0-1.589L12.8,5.048a1.12,1.12,0,0,0-1.589,0l-6.225,6.22a1.12,1.12,0,0,0,0,1.589l.511.516A1.132,1.132,0,0,0,7.106,13.355Z" transform="translate(-0.375 -0.375)" fill="#68b945"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="node-js2">
      <p>Раздел 2</p>
      <svg class="up-img" xmlns="http://www.w3.org/2000/svg" width="23.25" height="23.25" viewBox="0 0 23.25 23.25">
      <path id="Icon_awesome-arrow-circle-up" data-name="Icon awesome-arrow-circle-up" d="M.375,12A11.625,11.625,0,1,1,12,23.625,11.623,11.623,0,0,1,.375,12Zm6.731,1.355L10.5,9.816v8.559A1.122,1.122,0,0,0,11.625,19.5h.75A1.122,1.122,0,0,0,13.5,18.375V9.816l3.394,3.539a1.126,1.126,0,0,0,1.608.019l.511-.516a1.12,1.12,0,0,0,0-1.589L12.8,5.048a1.12,1.12,0,0,0-1.589,0l-6.225,6.22a1.12,1.12,0,0,0,0,1.589l.511.516A1.132,1.132,0,0,0,7.106,13.355Z" transform="translate(-0.375 -0.375)" fill="#68b945"/>
    </svg>
      <br>
      <h5>Асинхронность</h5><br>
      <p>Продолжим знакомиться с платформой Моде.. Разберём на практике как работает Еуеп Гоор и асинхронность. Узнаем как правильно писать
        и управлять асинхронным кодом. Познакомимся с протоколом НТТР и напишем первый сервер.</p><br>

    </div>
    <div class="node-js2" id="nodejs">
      <p>Раздел 2</p>
      <svg class="up-img" xmlns="http://www.w3.org/2000/svg" width="23.25" height="23.25" viewBox="0 0 23.25 23.25">
        <path id="Icon_awesome-arrow-circle-up" data-name="Icon awesome-arrow-circle-up" d="M.375,12A11.625,11.625,0,1,1,12,23.625,11.623,11.623,0,0,1,.375,12Zm6.731,1.355L10.5,9.816v8.559A1.122,1.122,0,0,0,11.625,19.5h.75A1.122,1.122,0,0,0,13.5,18.375V9.816l3.394,3.539a1.126,1.126,0,0,0,1.608.019l.511-.516a1.12,1.12,0,0,0,0-1.589L12.8,5.048a1.12,1.12,0,0,0-1.589,0l-6.225,6.22a1.12,1.12,0,0,0,0,1.589l.511.516A1.132,1.132,0,0,0,7.106,13.355Z" transform="translate(-0.375 -0.375)" fill="#68b945"/>
      </svg>
      <br>
      <h5>Express.js</h5><br>
      <p id="nodejs-text">В этом разделе мы начнём проектировать АРI. Обсудим теоретическую часть проектирования АРI что следует учитывать во время
        проектирования, примеры плохого и хорошего АРI, версионирование АРI. Затем обсудим как Node может выступать в роли веб-сервера и
        зработки АРI.</p><br>
    </div>
    <div class="my-5 all-services">
    <a href="#" class="all-button">ВСЕ РАЗДЕЛ
    </a>
  </div>
  </div>
</div>
  <div class="bosh-joy" style="padding-top: 50vh"></div>
  <div class="page4">
    <svg class="tolqinli-rasm" xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%" viewBox="0 0 1366 880.008">
      <defs>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#fff" stop-opacity="0"/>
          <stop offset="1" stop-color="#f2f2f2"/>
        </linearGradient>
      </defs>
      <path id="Path_768" data-name="Path 768" d="M0,0H1366V880.008s-176.5-99.27-414.593-39.272-450.582,1.242-530.991-15.05C234.713,788.063,0,880.008,0,880.008Z" fill="url(#linear-gradient)"/>
    </svg>
    <svg class="rasm-right2" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" padding-top="200px" viewBox="0 0 121.092 429.695">
      <g id="Group_507" data-name="Group 507" transform="translate(1.953 1.829)">
        <path id="Path_756" data-name="Path 756" d="M96.346,388.959S68.1,392.5,35.124,338.539,54.361,239.346,6.268,151.115,96.346.862,96.346.862,95.914-41.371,96.346,388.959Z" transform="translate(21.872 19.477)" fill="#f2f2f2"/>
        <path id="Path_757" data-name="Path 757" d="M-2643.97,642.282s-52.841-8.856-84.574-82.938c-11.392-26.6,9.04-64.369-2.108-118.769s-46.3-67.1-24.6-125.8,111.391-98.389,111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
      </g>
    </svg>
    <svg class="rasm-left2" xmlns="http://www.w3.org/2000/svg" width="121.092" height="429.695" viewBox="0 0 121.092 429.695">
      <g id="Group_517" data-name="Group 517" transform="translate(0.81 1.829)">
        <path id="Path_756" data-name="Path 756" d="M-3.9,388.959s28.247,3.537,61.223-50.421S38.087,239.346,86.181,151.115-3.9.862-3.9.862-3.466-41.371-3.9,388.959Z" transform="translate(4.009 19.477)" fill="#f2f2f2"/>
        <path id="Path_757" data-name="Path 757" d="M-2762.078,642.282s52.841-8.856,84.574-82.938c11.392-26.6-9.04-64.369,2.108-118.769s46.3-67.1,24.6-125.8-111.391-98.389-111.391-98.389" transform="translate(2762.189 -216.388)" fill="none" stroke="#f2f2f2" stroke-width="4" stroke-dasharray="17"/>
      </g>
    </svg>
    <div class="statistik">
      <div class="tools">
        <div class="tool-text">
          <h1><b>После прохождения курса вы получите электронный сертификат *</b></h1><br>
          <p>* Не является документом об образовании (06 обучении). Курс не
            является услуго!</p>
        </div>
        <div class="tool-img">
          <svg _ngcontent-kgd-c19="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-image fa-w-16">
            <path _ngcontent-kgd-c19="" fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z">
            </path>
          </svg>
        </div>
      </div>
      <div class="node-js2">
        <h2><b>Статистика Академии</b></h2><br>
        <div class="schot">
          <div class="sapn1"><span>8</span><p>лет на рынке <br>обучения</p></div>
          <div class="sapn1"><span>98</span><p>онлайн-курсов <br> проведено</p></div>
          <div class="sapn1"><span>840</span><p>выпускника защитили <br>проекты</p></div>
        </div>
      </div>

    </div>
  </div>
<div class="pol"></div>
<router-outlet></router-outlet>
