<!-- First -->
<div id="mainwall">
  <div class="row" id="toprow">
    <div id="wallleft" class="col-md-6 col-sm-6 align-self-center">
      <img src="../../../assets/img/mainwallbg.svg" alt="" />
      <h1 class="text-white">
        СОЗДАНИЕ <br />
        <span id="maintext">САЙТА</span>
      </h1>
      <p class="hometext pt-3">Для УСПЕШНОВА ведения бизнеса в интернете</p>
      <p class="homesmall pt-3">
        Наша миссия - оказание полного спектра услуг в сфере веб-разработки и
        автоматизации внутренних процессов
      </p>
      <br />
      <button class="text-white puls1" id="bookweb">
        <a href="">Заказат сайт</a>
      </button>
    </div>
    <div id="wallright" class="col-md-6 align-self-center">
      <img src="../../../assets/img/mainwall.svg" alt="" />
    </div>
  </div>
</div>

<!-- PUSH TO GO UP -->

<<<<<<< HEAD

<div id="go_up_button" >

    <i id="chevronTop" class="fal fa-chevron-up"></i>

  </div>


  <!-- END OF UP BUTTON -->

=======
>>>>>>> 70abea56a4a31c81eb07f34cac2563de62a8324e
<div id="go_up_button">

  <i id="chevronTop" class="fal fa-chevron-up"></i>

</div>


<!-- END OF UP BUTTON -->
<div id="dotanimation">
  <div class="dots dot1"></div>
  <div class="dots dot2"></div>
  <div class="dots dot3"></div>
  <div class="dots dot4"></div>
  <div class="dots dot5"></div>
  <div class="dots dot6"></div>
  <div class="dots dot7"></div>
  <div class="dots dot8"></div>
  <div class="dots dot9"></div>
  <div class="dots dot10"></div>
  <div class="dots dot11"></div>
  <div class="dots dot12"></div>
</div>
<!-- wave -->
<section id="waveanimation">
  <div class="wave"></div>
</section>

<!-- wave -->
<!-- END OF First -->

<!-- *************************************************** -->

<!-- 'Почему мы' -->
<div class="whyus">
  <span class="whyus_hr mx-3">
    <hr> </span>
  <h3>
    Почему мы?
  </h3>
  <span class="whyus_hr mx-3">
    <hr> </span>
  <br>
</div>
<br>
<div class="whyus2">
  <h5 class="whyus_h5">Знаете ли вы, почему наши клиенты выбирают именно нас?</h5>
</div>



<div id="whyus3">
  <img id="why_img" src="../../../assets/img/leftcloud.svg" class="img-fluid" alt="">
  <div class="row whyusrow">
    <div class="col-md-6 col-sm-12">
      <img id="why_img2" src="../../../assets/img/leftrocket.svg" alt="">
    </div>


    <div class="col-md-6 col-sm-12 whyus_right">
      <img id="why_img3" src="../../../assets/img/rightcloud.svg" alt="">
      <div class="whyus_card my-4"> <img class="mr-3" src="../../../assets/img/rocket.svg" alt=""> <span
          classs="whyus_content">
          <h6>UMDSOFT - надежный партнер</h6> Mы всегда доводим дело до конца и не бросаем заказчиков с нерешенной
          проблеме или задачей
        </span> </div>
      <div class="whyus_card my-4"> <img class="mr-3" src="../../../assets/img/list.svg" alt=""> <span
          classs="whyus_content">
          <h6>Комплексные решения</h6> Мы предлагаем создание сайта 'под ключ' начиная с разработки сайта и заканчивая
          технической поддержкой
        </span> </div>
      <div class="whyus_card my-4"> <img class="mr-3" src="../../../assets/img/qo'lni_kiri.svg" alt=""> <span
          classs="whyus_contetnt">
          <h6>Доступные цены</h6> Стоимость создания сайта - от 80 тыс руб., система ценообразования прозрачна и понятна
        </span> </div>
      <div class="whyus_card my-4"> <img class="mr-3" src="../../../assets/img/wallet.svg" alt=""> <span
          classs="whyus_content">
          <h6>Гибкая система оплаты</h6> Мы предлагаем широкий выбор вариантов оплаты, предоставляем скидки и бонусы,
          возможно сотрудничество пот ваш бютжет.
        </span> </div>
    </div>
  </div>
</div>


<!-- End of 'Почему мы' -->

<!-- ******************************** -->

<!-- Video play card -->

<div id="vidcard">
  <h2 class="text-white">Давайте приступим к <br> вашему проекта</h2>
  <span class="puls2 puls3 puls4">
    <a href="">
      <img id="vidimg" src="../../../assets/img/vid.svg" alt="">
    </a>
  </span>
  <img src="../../../assets/img/vidrocket.png" alt="" id="vidrocket">
</div>
<!-- End of video play card -->

<!-- Services -->
<div class="whyus">
  <span class="whyus_hr mx-3">
    <hr> </span>
  <h3>
    Наши сервисы
  </h3>
  <span class="whyus_hr mx-3">
    <hr> </span>
  <br>
</div>
<br>
<div class="whyus2">
  <h5 class="whyus_h5"> Современные технологии, сильная команда, опыт разработки с 2020 года! Доступные цены для
    каждого! </h5>
</div>

<!-- *************************** -->

<div id="servicescard">

  <div id="service1" class="theservices">
    <div class="service">
      <h4><b>ВЕБ РАЗРАБОТКА</b></h4> <br> <span>Услуги по созданию сайтов и интернет проектов любой сложности.</span>
      <br>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>
  <div id="service2" class="theservices">
    <div class="service">
      <h4><b>МОБИЛЬНАЯ РАЗРАБОТКА</b></h4> <br> <span>Разработка мобильных приложений. Дизайн - прототипирование,
        программирование и тех поддержка.</span> <br>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>
  <div id="service3" class="theservices">
    <div class="service">
      <h4><b>ИНТЕГРАЦИЯ CRM</b></h4> <br> <span>Разработка CRM для автоматизации бизнеса, настройка CRM с использованием
        современных веб - технологий.</span> <br>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>
  <div id="service4" class="theservices">
    <div class="service">
      <h4><b>ПРОДВИЖЕНИЯ САЙТОВ</b></h4> <br> <span>Комплексные услуги по оптимизации сайтов и CEO - продвижению, вывод
        в топ.</span> <br>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>
  <div id="service5" class="theservices">
    <div class="service">
      <h4><b> ТЕХНИЧЕСКАЯ ПОДДЕРЖКА </b></h4> <br> <span>Проведение разовых работ по обслуживанию сайта, комплексное
        ежемесячное сопровождение сайтов.</span>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>
  <div id="service6" class="theservices">
    <div class="service">
      <h4><b>СОЦИАЛЬНЫХ МАРКЕТИНГ</b></h4> <br> <span>Разработка ERP систем, внедрение ERP для управления предприятием и
        производством. ERP решения для любово бизнеса.</span>
      <section class="mb-4">
        <p> <a href=""> Читать подробнее <i class="fal fa-chevron-right"></i> </a> </p>
      </section>
    </div>
  </div>

</div>


<div class="my-5 allservices">
  <a href="">
    <button class="allservicesbutton"> ВСЕ УСЛУГИ </button>
  </a>
</div>



<!-- END OF SERVICES -->


<!-- STATISTICS -->
<div id="statistics">
<div id="statleft"> <h4 class="h4">ДЕЙСТВИТЕЛЬНЫЕ ЧИСЛА <i id="i" class="mx-3"></i>
</h4> 
<br>
<h6 class="stat_h6"> МЫ ЗНАЕМ, НАСКОЛЬКО ВАЖЕН ОПЫТ РАБОТЫ С КЛИЕНТАМИ БИЗНЕС, И ПОЭТОМУ МЫ СТРЕМИМСЯ СДЕЛАТЬ ВАШУ КОМПАНИЮ ПРЕУСПЕТЬ В ЭТОМ. </h6>


<div id="statcard_container">

<div class="statcard"> <div class="statleft">   </div>           <div class="statright"></div>   </div>
<div class="statcard"></div>
<div class="statcard"></div>
<div class="statcard"></div>


</div>




</div>

<div id="statright"> <img src="../../../assets/img/statimg.svg" alt=""> </div>




</div>








































