html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* GO UP BUTTON */

.goupbutton{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 9999;
  top: 87vh;
  font-size: .98rem;
  z-index: 99;
  bottom: 5%;

  min-height: 3rem;
  min-width: 3rem;
  right: 1.6rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0,0,0,.4);
  animation: scroll_top_anim .5s 1 alternate;
}
.goupbutton i {
  color: blue;
}
.goupbutton i{
  font-weight: 400;
  color: #1a1aac;

}



.scrolltopreverse{
  animation: scroll_top_reverse .5s 1 ease;
}

@keyframes scroll_top_anim{
  0%{
    display: none;
    transform: scale(0);
  }
  70%{
    transform: scale(1.1);
  }
  100%{
    display: flex;
    transform: scale(1);
  }
}
@keyframes scroll_top_reverse{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: 0.1s;
    display: none;
  }
}

/* END OF GO UP BUTTON */




/* First */

#mainwall {
  /* position: relative; */
  color: white;
  height: 100vh;
  background: linear-gradient(90deg,#131370,#008ee2);
  margin-top: -40px;
}

#toprow {
  position: absolute;
  margin: 90px 25px;

}

.hometext {
  font-size: 1.3rem;
}

.homesmall {
  font-weight: 550;
  font-size: 1rem;
  line-height: 1.8;
}

#toprow h1 {
  z-index: 10;
  font-size: 4rem;
}

#wallleft {
  margin-top: 10px;
  padding-left: 45px;
  animation: wallrightimg 1s 1 ease;
}
@keyframes wallrightimg{
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}
#wallleft img {
  position: absolute;
  left: -25%;
  top: -10%;
  z-index: 1;
}

#toprow h1 span {
  color: #ec522c;
}

#wallright img {
  pointer-events: none;
  height: 90%;
  padding-left: 30px;
  margin-top: 60px;
}
#wallright{
  animation: wallleftimg 1s 1 ease;
  position: relative;
}
@keyframes wallleftimg{
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

#bookweb {
  position: absolute;
  outline: none;
  background: linear-gradient(to right, rgb(249, 59, 12), rgb(187, 42, 2));
  z-index: 10;
  padding: 0.8rem 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  animation: buttonpuls .4s 1 alternate;
  animation-play-state: paused;
  box-shadow: 0px 0px 1px 1px #0000001a;
  transition: .1s;
}
#bookweb a {
  text-decoration: none;
  color: #fff;
}
#bookweb:not(:hover){
  animation: buttonhover .4s 1 ease;
}

#bookweb:hover {
  box-shadow: 0px 0px 3.9px -2px yellow;
  animation-play-state: running;
  transform: translateY(-1px);
}

@keyframes buttonpuls {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
}
 @keyframes buttonhover {
  0% {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);

  }
}

/* DOT ANIMATIONS */
#dotanimation {
  position: absolute;
  top: 25vh;
  height: 100%;
  width: 50%;
  left: 1%;
  overflow: hidden;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: dotanimation;
}

@keyframes dotanimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.18);
  }

  100% {
    transform: scale(1);
  }

}

.dots {
  top: 30px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

#dotanimation div:nth-child(odd) {
  background: rgb(131, 63, 176);
  height: 10px;
  width: 10px;
}

#dotanimation div:nth-child(even) {
  background: rgb(193, 165, 130);
  height: 7px;
  width: 7px;
}

.dot1 {
  margin-left: 180px;
}

.dot2 {
  margin-left: 130px;
  margin-top: 15px;
}

.dot3 {
  position: absolute;
  height: 7px !important;
  width: 7px !important;
  margin-top: 155px;
  margin-left: 350px;
}

.dot4 {
  position: absolute;
  background: rgb(131, 63, 176) !important;
  height: 10px !important;
  width: 10px !important;
  margin-top: 370px;
  margin-left: 450px;

}

.dot5 {
  position: absolute;
  margin-left: 530px;
  margin-top: 85px;
}

.dot6 {
  margin-left: 330px;
  margin-top: -20px !important;
}

.dot7 {
  position: absolute;
  margin-top: 300px;
  margin-left: 250px;
}

.dot8 {
  margin-left: 500px;
}

.dot9 {
  position: absolute;
  margin-top: 250px;
  margin-left: 40px;
  height: 9px !important;
  width: 9px !important;
}

.dot10 {
  margin-left: 590px;
  margin-top: 100px;
}

.dot11 {
  position: absolute;
  margin-top: 400px;
  margin-left: 200px;
}

.dot12 {
  margin-left: 535px;
  margin-top: 170px;
}

/* //DOT ANIMATIONS */


/* END OF First */

/* WAVE */


#waveanimation {
  position: absolute;

  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  bottom: -5rem;
}

#waveanimation .wave {
  position: absolute;
  width: 100%;
  /*height from the svg file*/
  height: 140px;
  bottom: 0;
  left: 0;
  background: url("../../../assets/img/wavy.svg");
  animation: waves 10s linear infinite;
}

#waveanimation .wave:before {
  content:'';
  width: 100%;
  height: 140px;
  background: url("../../../assets/img/wavy.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: waves-reverse 10s linear infinite;
}

#waveanimation .wave:after {
  content:'';
  width: 100%;
  height: 140px;
  background: url("../../../assets/img/wavy.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  animation-delay: -5s;
  animation: waves 20s linear infinite;
}


@keyframes waves {
  0% {
    background-position: 0;
  }
  100% {
    /* from width of the svg file */
    background-position: 1600px;
  }
}

@keyframes waves-reverse {
  0% {
    background-position: 1600px;
  }
  100% {
    background-position: 0;
  }
}



/* END OF WAVE */



/* ************************************* */

/* Why us */


.whyus{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.whyus h3{
  color: #ff6600;
  font-weight: 600;
}
.whyus hr{
  width: 40px;
  height: 4px;
  margin: 0;
  margin-top: 35%;

  background: #ff6600;
  border-radius: 2px;
}


.whyus2{
  display: flex;
  justify-content: center;
}
.whyus2 h5{
  font-weight: 600;
}
#whyus3{
  position: relative;
}
#whyus3 .row{
  padding-top: 60px;
}
#wyus3 img{
  pointer-events: none;
}
#why_img{
  /* left cloud */
  position: absolute;
  top: -100px;
  z-index: -5;
  pointer-events: none;
}
#why_img2{
  padding-left: 140px;
}
.whyus_right{
  position: relative;
  margin-top: 100px;
  z-index: 5;
}
.whyus_right h6{
  font-weight: 550;
  padding-top: 8px;
  padding-bottom: 8px;
}
#why_img3{
  /* rightcloud */
  position: absolute;
  margin-top: -100px;
  right: 0;
  z-index: -99;
  pointer-events: none;
  }
.whyus_card{
    display: flex;
    cursor: default;
    padding: 10px;
    padding-right: 28px;
    font-size: 12px;
    width:80%;
    border-radius:8rem;
    background:#DEDEDE;
    transition: all .4s;
    transition: .3s;
}
.whyus_content{
  display: block;
  font-size: 10px;
}
.whyus_card:hover{
  background:#0011FF;
  color: #fff;
  box-shadow:0px 3px 5px rgba(0,0,0,.4);
  transform:translateY(-3px) scale(1.01);
}
.whyus_right div:nth-child(even){
  margin-left: 50px;
}
/* End of Why us */

/* ********************************** */

/* Video play card */

#vidcard{
  position: relative;
  margin-top: 70px;
  margin-left: 7.5%;
  padding: 2rem;
  min-height: 45vh;
  background: linear-gradient(90deg,#fc4f21,#ca1800);
  border: 1px solid linear-gradient(90deg,#fc4f21,#ca1800);
  box-shadow: 0 2px 15px rgba(0,0,0,.3);
  border-radius: 2rem;
  width: 85%;
  display: flex;
  align-items: center;
  z-index: 9999;
}
#vidcard h2{
  padding-left: 1rem;
  font-weight: 600;
  line-height: 50px;
}
#vidcard span{
  margin-left: 10rem;
  padding: 1.5rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: vidpuls 1s infinite ease;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
#vidcard .puls1{
  animation: vidpuls2 1s infinite ease;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

@keyframes vidpuls {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
}


#vidimg{
  padding-left: .3rem;
  height: 25px;
  width: 25px;
}
#vidrocket{
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ************************* */

#servicescard{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-left: 7.5%;
  z-index: 20;
}
#service1, #service2, #service3, #service4, #service5, #service6{

  width: 31%;
  margin: 3rem .8rem;
  min-height: 10rem;
  min-height: 45vh;
  z-index: 20;
}
#service1::before,
#service2::before,
#service3::before,
#service4::before,
#service6::before,
#service6::before{
  content: '';
  width: 1rem;
  height: 1rem;
  background: red;
  position: relative;
  top: 0;
  left: 0;
  z-index: 11111111111111111111111;
}

.service{
position: relative;
text-align: center;
width: 100%;
height: 100%;
padding: 0 15px;
box-shadow: 0 2px 6px rgba(0,0,0,.15);
z-index: 100;
}
.service h4, .service span{
  transition: 1s;
}
.service::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #fff;
  animation: service_before 1s 1 ease;
  animation-fill-mode: both;
  animation-play-state: paused;
  z-index: -1;
}

#service1:hover .service::before,
#service2:hover .service::before,
#service3:hover .service::before,
#service4:hover .service::before,
#service5:hover .service::before,
#service6:hover .service::before
  {
    background: #1b1aa0;
    animation-play-state: running;
}
#service1:not(:hover) .service::before,
#service2:not(:hover) .service::before,
#service3:not(:hover) .service::before,
#service4:not(:hover) .service::before,
#service5:not(:hover) .service::before,
#service6:not(:hover) .service::before
{
  animation: service_before_reverse 1s 1 ease;
  animation: service_before_reverse .6s 1 ease;
  background: #1b1aa0;
}
/* ******************************************* */
.service::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0;

  animation: service_after 1s 1 ease;
  animation-fill-mode: both;
  animation-play-state: paused;
  z-index: -1;
}

#service1:hover .service::after,
#service2:hover .service::after,
#service3:hover .service::after,
#service4:hover .service::after,
#service5:hover .service::after,
#service6:hover .service::after
{
  background: #1b1aa0;
   animation-play-state: running;
}
#service1:not(:hover) .service::after,
#service2:not(:hover) .service::after,
#service3:not(:hover) .service::after,
#service4:not(:hover) .service::after,
#service5:not(:hover) .service::after,
#service6:not(:hover) .service::after
{
  background: #1b1aa0;
  animation: service_after_reverse 1s 1 ease;
  animation: service_after_reverse .6s 1 ease;

}
#service1:hover h4, #service1:hover span,
#service2:hover h4, #service2:hover span,
#service3:hover h4, #service3:hover span,
#service4:hover h4, #service4:hover span,
#service5:hover h4, #service5:hover span,
#service6:hover h4, #service6:hover span
{

  color: white;
}





/* ******************************************** */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7 */

@keyframes service_before{
0%{
  left: 0;
  width: 0;
}
40%{
  width: 50%;
  left: 5rem;
}
75%{
  left: 0;
}
100%{
  left: 0;
  width: 50%;
  }
}

@keyframes service_after{
  0%{
    right: 0;
    width: 0;
  }
  40%{
    width: 50%;
    right: 5rem;
  }
  75%{
    right: 0;
  }
  100%{
    right: 0;
    width: 50%;
    }
  }

/* ////////////////////////////// */
@keyframes service_before_reverse{
0%{
  left: 0;
  width: 50%;
}
25%{
  left: 5rem;
}
40%{
  left: 0;
  width: 50%;
}
100%{
  width: 0;
}
}
@keyframes service_after_reverse{
  0%{
    right: 0;
    width: 50%;
  }
  25%{
    right: 5rem;
  }
  40%{
    right: 0;
    width: 50%;
  }
  100%{
    width: 0;
  }




}

/* ************************************* */


#servicescard h4{
  padding-top: 6.5rem;
  color: rgba(0, 0, 0, .6);
}
.service span{
  font-size: 14px;
  color: rgba(0, 0, 0, .4);
}
.service p{
  margin-top: 3rem;
}
.service p a{
  text-decoration: none;
  color: #008ee2;
  font-size: 15px;
}
.service i{
  font-size: 12px;
}
.service section{
  width: 45%;
  margin: auto;
}
.service section:hover{
  transform:scale(1.02);
}
#service5 h4, #service6 h4{
padding-top: 4.7rem;
}
#service5 p, #service6 p, #service2 p, #service3 p{
  margin-top: 1.7rem;
}



/* services background clouds */


#servicecloud{
  position: absolute;
  height: 30rem;
  z-index: auto;
  top: 350vh;
}
#servicecloud2{

  z-index: -100000000;
}
#servicerightcloud{

  top: 10vh;
  right: -13px;
  z-index: -100000000;
  top: 350vh;
}





.allservices{
  width: 100%;
  display: flex;
  justify-content: center;
}

.allservicesbtn{  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
}
.allservicesbutton{
  background: linear-gradient(to right, rgb(9, 148, 234), rgb(26, 32, 164));
  outline: none;
  border: none;
  border-radius: .6rem;
  padding: 1rem 2.2rem;
  color: #fff;
  font-size: .9rem;
  font-weight: 550;
  cursor: pointer;
  transition: .3s;
}
.allservicesbutton:hover{  
  transform: scale(1.01);
  box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
}

/* END OF SERVICES */


/* STATISTICS */

#statistics{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}
#statleft{
  width: 50%;
  height: 200px;
  left: 0;
}

#statright{
  width: 50%;
  height: 200px;
  right: 0;
}
#statright img{
  margin-left: 1rem;
}
#statleft .h4{
  display: flex;
  justify-content: flex-start;
  font-weight: 550;
  color: #f60;
  margin-left: 6rem;
  margin-top: 3rem;
}
#i{
  align-self: center;
  height: 0;
  width: 3rem;
  border: 2px solid #f60;
  border-radius: 1rem;
}
.stat_h6{
  text-align: left;
  font-weight: 600;
  margin-left: 6rem;
  color: #000;
  line-height: 2;
  font-size: 1.2rem;
}
#statcard_container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  margin-left: 6rem;  
  width: 75%;
  height: 10rem;
}
#statcard_container .statcard:nth-child(even){
  margin-left: 4%;
}
#statcard_container .statcard:nth-child(3), #statcard_container .statcard:nth-child(4){
margin-top: 1rem;
}
.statcard{
  background-color: #f0efef;
  width: 45%;
  min-height: 5rem;
  padding: 20px;
}


























  #wallleft {
    padding-left: 0;
    margin-left: 0;
  }

  #wallleft img {
    left: -50%;
  }

  #wallleft h1 {
    font-size: 3rem;
  }

  #wallleft p {
    /*font-size: ;*/
  }

  #why_img2 {
    padding-left: 0px !important;
    width: 250px;
  }


  @media (max-width: 767px) {
    #servicescard {
      flex-direction: column;

    }

    #servicescard .service {
      width: 300px;
      height: 350px;
    }
  }



  
